@keyframes nav-abstract-open {
    0% {
        top: unset;
        bottom: 0;
        height: 0;
    }
    33% {
        top: unset;
        bottom: 0;
        height: 100vh;
    }
    66% {
        top: 0;
        bottom: unset;
        height: 100vh;
    }
    100% {
        top: 0;
        bottom: unset;
        height: 0;
    }
}

@keyframes nav-abstract-default {
    0% {
        top: 0;
        bottom: unset;
        height: 0;
    }
    33% {
        top: 0;
        bottom: unset;
        height: 100vh;
    }
    66% {
        top: unset;
        bottom: 0;
        height: 100vh;
    }
    100% {
        top: unset;
        bottom: 0;
        height: 0;
    }
}

@keyframes hero-img-1-fade {
    to {
        opacity: 1;
        translate: 20% 0;
    }
}

@keyframes hero-img-2-fade {
    to {
        opacity: 1;
        translate: -20% 0;
    }
}

@keyframes reset-translate {
    to {
        translate: 0 0;
    }
}

@keyframes collapse-width {
    to {
        width: 0;
    }
}

@keyframes loading-dot {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}