* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::selection {
    background: rgba($green-light, 0.5);
  }

  // Autofill for form fields: input, textarea, select, etc.
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: $black;
    -webkit-box-shadow: 0 0 0px 1000px $grey-light inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

html {
  scroll-behavior: smooth;
  scrollbar-color: $green-dark transparent;
}

body {
  // background: $grey-light;
  // color: $black;
  background: var(--background-color);
  color: var(--primary-font-color);
}

header {
  & > * {
    z-index: 5;
  }

  .header-logo {
    @include left-spacing;
    position: fixed;
    top: 56px;
    display: flex;
    align-items: center;
    gap: 6px;
    mix-blend-mode: difference;

    @include mq-min("xxxl") {
      left: calc(50% - calc(1920px / 2) + $body-padding);
    }

    @include mq-max("md") {
      top: 38px;
    }

    .logo-icon {
      width: 32px;
      transition: 0.2s ease;

      @include mq-max("xxl") {
        width: 24px;
      }
    }

    .logo-text {
      width: 52px;
      height: 20px;
      translate: 0 2px;
      object-fit: cover;
      object-position: left;
      transition: 0.2s ease;

      @include mq-max("xxl") {
        scale: 0.8;
        transform-origin: left;
      }
    }
  }

  .cta-wrapper {
    position: fixed;
    top: 44px;
    right: $body-padding;
    transition: 0.2s ease 0.12s, right 0s;

    @include mq-min("xxxl") {
      right: calc(50% - calc(1920px / 2) + $body-padding);
    }

    @include mq-max("xxl") {
      right: $body-padding-xxl;
    }

    @include mq-max("lg") {
      display: none;
    }

    .cta-2,
    .cta-1 {
      transition: 0.3s ease 0.75s, outline 0s, color 0.3s ease 0s,
        translate 0.3s ease 0s !important;
    }

    .cta-2 {
      &::before {
        display: none;
      }

      &:hover {
        &::before {
          width: 50%;
        }
      }
    }
  }

  .menu-btn-wrapper {
    @include right-spacing;
    position: fixed;
    top: 64px;
    translate: 0 -50%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    mix-blend-mode: difference;

    @include mq-min("xxxl") {
      right: calc(50% - calc(1920px / 2) + $body-padding);
    }

    @include mq-max("lg") {
      opacity: 1;
      pointer-events: all;
    }

    @include mq-max("md") {
      top: 48px;
    }

    .menu-btn {
      width: 36px;
      height: 36px;
      transition: 0.2s ease 0s;

      &:hover,
      &:focus {
        translate: 4px 0;

        @include mq-max("sm") {
          translate: unset;
        }

        .menu-btn-text-wrapper {
          translate: -120% -50%;
          opacity: 1;

          @include mq-max("sm") {
            display: none;
          }
        }
      }

      .menu-btn-dots-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        padding: 8px;
        transition: 0.2s ease;
      }

      .menu-btn-text-wrapper {
        @include column-left;
        position: absolute;
        top: 50%;
        left: 0;
        translate: -80% -50%;
        height: 24px;
        opacity: 0;
        transition: 0.3s ease;
        overflow: hidden;
      }

      .menu-btn-text {
        font-family: $primary-font;
        text-transform: uppercase;
        color: $white;
        font-size: 14px;
        transition: 0.2s ease;
      }

      &-dot {
        width: 4px;
        height: 4px;
        background: $white;
        transition: 0.3s ease;
      }

      &.menu-active {
        opacity: 1;
        pointer-events: all;

        .menu-btn-text {
          translate: 0 -100%;
        }

        .menu-btn-dots-wrapper {
          rotate: 45deg;
        }

        .menu-btn-dot:nth-of-type(odd) {
          opacity: 0;
        }
        .menu-btn-dot:nth-of-type(5) {
          opacity: 1;
        }
      }
    }

    &.menu-wrapper-page-top {
      transition: opacity 0.3s ease 0.3s;
    }
  }

  &.scroll-active {
    .header-logo {
      .logo-text {
        width: 0px;
      }
    }

    .cta-wrapper {
      opacity: 0;
      pointer-events: none;
      transition: 0.2s ease 0s;
    }

    .menu-btn-wrapper {
      opacity: 1;
      pointer-events: all;
      transition: all 0.3s ease, opacity 0.2s ease 0.12s;
    }
  }

  &.menu-active {
    .header-logo {
      .logo-text {
        width: 52px;
        transition: 0.2s ease 0.65s;
      }
    }

    .menu-btn-wrapper {
      opacity: 1;
      pointer-events: all;
    }

    .cta-2,
    .cta-1 {
      opacity: 0;
      pointer-events: none;
    }
  }
}

nav {
  position: fixed;
  top: 0;
  background: transparent;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  z-index: 4;
  transition: background 0s ease 0.4s, opacity 0s ease 0.75s;

  .width-constraint {
    position: relative;
    max-width: $content-width;
    height: 100vh;
    height: 100dvh;
    min-height: 768px;
    margin: auto;

    @include mq-max("xxl") {
      min-height: 640px;
    }

    @include mq-max("sm") {
      min-height: 520px;
    }
  }

  .nav-links,
  .nav-footer-links,
  .nav-social-media {
    @include left-spacing;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0s ease 0.3s;

    li {
      a {
        font-family: $primary-font;
      }
    }
  }

  .nav-links {
    @include column-left;
    gap: 12px;
    top: 50%;
    translate: 0 -50%;

    li {
      display: flex;
      overflow: hidden;

      &:focus-within {
        border-radius: 4px;
        box-shadow: 0 0 0 3px rgba(#2353c1, 0.75), 0 0 0 5px rgba(#fff, 0.75);
      }

      @for $i from 2 through 4 {
        &:nth-of-type(#{$i}) {
          $transition: 0.25s + ($i - 2) * 0.2s;
          $delay: 0.65s + ($i - 2) * 0.05s;

          .nav-link {
            transition: 0.2s ease, translate $transition ease $delay;
          }
        }
      }
    }

    .nav-link {
      font-size: 96px;
      text-transform: uppercase;
      line-height: 100%;
      height: 100%;
      translate: 0 100%;
      border-left: 4px solid transparent;
      transition: 0.2s ease, translate 0.3s ease 0.6s;

      @include mq-max("xxl") {
        font-size: 72px;
      }

      @include mq-max("lg") {
        font-size: 64px;
      }

      @include mq-max("md") {
        font-size: 48px;
      }

      @include mq-max("md") {
        font-size: 40px;
      }

      &:hover,
      &:focus {
        padding-left: 24px;
        border-color: $green-light;

        @include mq-max("xxl") {
          padding-left: 16px;
        }
      }
    }
  }

  .nav-footer-links {
    @include row-center;
    bottom: $body-padding;
    gap: 48px;

    @include mq-max("lg") {
      gap: 24px;
    }

    @include mq-max("md") {
      @include column-left;
      gap: 12px;
      bottom: $body-padding-xxl;
    }

    @include mq-max("sm") {
      gap: 4px;
      bottom: $body-padding-md;
    }

    li {
      .nav-footer-link {
        padding: 4px;
        border-bottom: 2px solid transparent;
        transition: 0.2s ease;

        &:hover,
        &:focus {
          border-color: $green-light;
        }
      }
    }
  }

  .nav-social-media {
    @include right-spacing;
    bottom: $body-padding;
    left: unset;

    @include mq-max("lg") {
      translate: 0 4px;
    }

    @include mq-max("md") {
      bottom: $body-padding-md;
      translate: 0 -12px;
    }

    @include mq-max("sm") {
      translate: 0 0;
    }
  }

  .nav-abstract {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 24px;
    // background: $grey-dark;
    background: $black;
    animation: nav-abstract-default 0.75s ease 0s forwards;
  }

  &.menu-active {
    opacity: 1;
    pointer-events: all;
    // background: $grey-light;
    background: var(--background-color);
    transition: background 0s ease 0.4s;

    .nav-abstract {
      animation: nav-abstract-open 0.75s ease 0s forwards;
    }

    .nav-links,
    .nav-footer-links,
    .nav-social-media {
      opacity: 1;
      pointer-events: all;

      .nav-link {
        translate: 0 0;
      }
    }
  }
}

section,
footer {
  max-width: $content-width;
  margin: auto;
  padding: $vertical-section-padding $horizontal-section-padding;

  @include mq-max("xxl") {
    padding: $vertical-section-padding-xxl $horizontal-section-padding-xxl;
  }

  @include mq-max("lg") {
    padding: $vertical-section-padding-lg $horizontal-section-padding-lg;
  }

  @include mq-max("md") {
    padding: $vertical-section-padding-md $body-padding-md;
  }

  @include mq-max("sm") {
    padding: $vertical-section-padding-sm $body-padding-md;
  }

  &.slim-content {
    padding: $vertical-section-padding calc($horizontal-section-padding * 1.5);

    @include mq-max("xxl") {
      padding: $vertical-section-padding-xxl
        calc($horizontal-section-padding-xxl * 2);
    }

    @include mq-max("xl") {
      padding: $vertical-section-padding-xxl $horizontal-section-padding-xl;
    }

    @include mq-max("lg") {
      padding: $vertical-section-padding-lg $horizontal-section-padding-lg;
    }

    @include mq-max("md") {
      padding: $vertical-section-padding-md $body-padding-md;
    }

    @include mq-max("sm") {
      padding: $vertical-section-padding-sm $body-padding-md;
    }
  }
}

footer {
  @include row-between;
  padding-top: $body-padding;
  padding-bottom: $body-padding;

  .footer-link,
  .copyright {
    padding-bottom: 8px;
    font-size: 14px;

    @include mq-max("md") {
      font-size: 12px;
    }
  }

  .footer-link {
    border-bottom: 2px solid transparent;
    transition: 0.2s ease;

    &:hover,
    &:focus {
      border-color: $green-light;
    }
  }
}

h1,
h2,
h3 {
  font-family: $primary-font;
  text-transform: uppercase;
  line-height: 100%;
}

p,
a {
  font-family: $secondary-font;
}

a {
  // color: $black;
  color: var(--primary-font-color);
  text-decoration: none;

  @include mq-max("xxl") {
    font-size: 14px;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.headline-wrapper {
  & > * {
    padding-left: 48px;

    @include mq-max("xxl") {
      padding-left: 24px;
    }
  }

  .headline-text {
    // border-left: 4px solid $green-light;
    border-left: 4px solid var(--primary-accent-color);
    margin-bottom: 48px;

    .headline-title {
      font-size: 96px;
      font-weight: 400;
      margin-bottom: 24px;

      @include mq-max("xxl") {
        font-size: 72px;
      }

      @include mq-max("xl") {
        font-size: 56px;
      }

      @include mq-max("sm") {
        font-size: 36px; // Revist me
      }
    }

    .headline-subtext {
      font-size: 18px;

      @include mq-max("xxl") {
        font-size: 16px;
      }

      @include mq-max("sm") {
        font-size: 14px;
      }
    }
  }
}

.cta-wrapper {
  display: flex;
  gap: 24px;

  @include mq-max("lg") {
    gap: 12px;
  }

  @include mq-max("sm") {
    gap: 0px;
    width: 90vw;
  }
}

.cta-1,
.cta-2 {
  padding: 12px 16px;

  @include mq-max("xxl") {
    padding: 10px 14px;
  }
}

.cta-1 {
  position: relative;
  color: $white;
  border-radius: 4px;
  transition: color 0.3s ease 0.2s;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    // background-color: $green-light;
    background-color: var(--primary-accent-color);
    transition: height 0.24s ease 0.2s, width 0.24s ease 0s;
    z-index: -1;
  }

  &:hover,
  &:focus {
    // color: $black;
    color: var(--cta-1-text-color-hover);
    transition: color 0.3s ease 0s;

    &::before {
      border-radius: 0;
      width: 80%;
      height: 3px;
      transition: height 0.24s ease 0s, width 0.24s ease 0.2s;
    }
  }
}

.cta-2 {
  @include row-center;
  transition: 0.3s ease;

  &:hover,
  &:focus {
    .cta-2-text {
      &::before {
        width: 100%;
        animation: cta-2-hover 0.5s ease forwards;
      }
    }

    svg {
      // background: $green-light;
      background: var(--primary-accent-color);
      translate: 6px 0;

      path {
        // fill: $grey-light;
        fill: var(--background-color);
      }
    }
  }

  &-text {
    @include row-center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 0;
      width: 0;
      height: 3px;
      // background-color: $green-light;
      background: var(--primary-accent-color);
      animation: cta-2-default 0.5s ease forwards;
    }
  }

  svg {
    width: 14px;
    height: 14px;
    padding: 4px;
    scale: 2;
    border-radius: 50%;
    margin-left: 12px;
    transition: 0.3s ease;

    path {
      fill: $green-light;
      transition: 0.3s ease;
    }
  }
}

.social-media-links {
  display: flex;
  gap: 48px;

  @include mq-max("lg") {
    gap: 32px;
  }

  @include mq-max("md") {
    gap: 12px;
  }

  @include mq-max("sm") {
    gap: 24px;
  }

  .social-media-link {
    @include row-center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.25s ease;

    @include mq-max("sm") {
      width: 24px;
      height: 24px;
    }

    &:hover,
    &:focus {
      .social-media-icon-wrapper {
        translate: 0 -40%;

        .social-media-icon {
          path {
            // fill: $green-light;
            fill: var(--primary-accent-color);
          }
        }
      }
    }

    .social-media-icon-wrapper {
      @include column-center;
      gap: 24px;
      translate: 0 36%;
      transition: 0.25s ease;

      .social-media-icon {
        path {
          fill: var(--primary-font-color);
          transition: 0.2s ease;
        }
      }
    }
  }
}

.loading-screen {
  @include row-center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  z-index: 10;

  &-text-content {
    // background: $grey-light;
    background: var(--background-color);
    width: 100%;
    height: 100%;
    @include column-center;
    justify-content: center;

    p {
      font-size: 48px;
      text-transform: uppercase;

      @include mq-max("xl") {
        font-size: 40px;
      }

      @include mq-max("lg") {
        font-size: 32px;
      }

      @include mq-max("md") {
        font-size: 24px;
      }

      @include mq-max("sm") {
        font-size: 16px;
      }
    }

    .top-row,
    .bottom-row {
      @include row-center;
      overflow: hidden;
      width: 80vw;
      white-space: nowrap;
      animation: collapse-width 0.4s ease 1.2s forwards;

      span {
        display: inline;
        animation: reset-translate 0.4s ease 0.24s forwards;
      }
    }

    .top-row {
      translate: 0 -24px;

      @include mq-max("md") {
        translate: 0 -16px;
      }

      @include mq-max("sm") {
        translate: 0 -12px;
      }

      span {
        translate: 0 100%;
      }
    }

    .bottom-row {
      translate: 0 24px;

      @include mq-max("md") {
        translate: 0 16px;
      }

      @include mq-max("sm") {
        translate: 0 12px;
      }

      span {
        translate: 0 -100%;
      }
    }

    .divider-dot {
      opacity: 0;
      position: absolute;
      top: 50%;
      translate: 0 -60%;
      display: flex;
      animation: loading-dot 1.5s linear 0.2s forwards;
    }
  }

  &-abstract {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 0;
    background: $black;
  }

  &.load-complete {
    pointer-events: none;

    .loading-screen-text-content {
      opacity: 0;
      pointer-events: none;
      transition: 0.3s ease 0.3s;
    }

    .loading-screen-abstract {
      animation: nav-abstract-open 0.75s ease 0s forwards;
    }
  }
}

// Utility

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// Media query classes

.lg-screen-and-up {
  display: none;

  @include mq-min("lg") {
    display: flex; // Flex for cta-wrapper
  }
}

.lg-screen-and-below {
  display: none;

  @include mq-max("lg") {
    display: flex;
  }
}

.md-screen-and-up {
  display: none;

  @include mq-min("md") {
    display: flex;
  }
}

.md-screen-and-below {
  display: none;

  @include mq-max("md") {
    display: flex;
  }
}

.sm-screen-and-up {
  display: none;

  @include mq-min("sm") {
    display: flex;
  }
}

.sm-screen-and-below {
  display: none;

  @include mq-max("sm") {
    display: flex;
  }
}

// Exploring Netlify Identity (sign up / login controls)
// div[data-netlify-identity-menu] {
//   position: fixed;
//   top: $body-padding;
//   left: 50%;
//   translate: -50% 0;

//   ul.netlify-identity-menu {
//     list-style: none;
//     @include row-center;
//     gap: 12px;

//     // a.netlify-identity-signup {
//     //   text-decoration: underline;
//     // }

//     // a.netlify-identity-login {
//     //   text-decoration: underline;
//     // }

//     span.netlify-identity-user {
//       font-family: $primary-font;
//     }
//   }
// }

// #netlify-identity-widget {
//   border: $test;
// }
