@mixin row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin column-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

// Video Section - width/height
@mixin video-wrapper-portrait {
  aspect-ratio: 1 / 1.8;
  width: min(28%, 456px);

  @include mq-max("xl") {
    width: 32%;
  }

  @include mq-max("lg") {
    width: 36%;
  }

  @include mq-max("md") {
    width: 40%;
  }

  @include mq-max("sm") {
    width: 64%;
  }
}

@mixin video-wrapper-landscape {
  aspect-ratio: 3 / 1;
  width: min(64%, 1024px);

  @include mq-max("xl") {
    width: 68%;
  }

  @include mq-max("md") {
    width: 80%;
  }
}

// Abstract line to the left of each section header
@mixin headline-abstract {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 0;
  background: var(--primary-accent-color);

  @include mq-motion-reduce {
    height: 100%;
  }

  @include mq-max("md") {
    width: 3px;
  }
}

/* Companion to fillTextEffect in scroll.js
Ensure that the parent doesn't have any display: flex, 
this will interfere with the line by line animation */
@mixin fill-text($fill-color, $empty-color) {
  display: inline;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient($fill-color, $fill-color);
  -webkit-text-fill-color: $empty-color;

  transition: background 1s cubic-bezier(0.12, 0.76, 0.64, 1);

  @include mq-motion-reduce {
    background-size: 100% 100% !important; // Override JS
  }
}

@mixin blur-content {
  @include mq-motion-allow {
    filter: blur(8px);
    opacity: 0.05;
    transition: 0.5s ease 0.2s, translate 0s, width 0s;
  }
}

@mixin blur-content-active {
  filter: blur(0px);
  opacity: 1;
}

@mixin statement-divider-width {
  width: 520px;

  @include mq-max("xxl") {
    width: 464px;
  }

  @include mq-max("xl") {
    width: 412px;
  }

  @include mq-max("lg") {
    width: 348px;
  }

  @include mq-max("md") {
    width: 280px;
  }

  @include mq-max("sm") {
    width: 224px;
  }
}

// header logo, nav items
@mixin left-spacing {
  left: $body-padding;

  @include mq-max("xxl") {
    left: $body-padding-xxl;
  }

  @include mq-max("md") {
    left: $body-padding-md;
  }
}

// header menu button, nav social items
@mixin right-spacing {
  right: $body-padding;

  @include mq-max("xxl") {
    right: $body-padding-xxl;
  }

  @include mq-max("md") {
    right: $body-padding-md;
  }
}

// Media Queries
$max-breakpoints: (
  "xs": 389px,
  "sm": 480px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px,
  "xxl": 1512px,
  "xxxl": 1920px,
);

@mixin mq-max($breakpoint) {
  $value: map-get($max-breakpoints, $breakpoint);
  @media screen and (max-width: $value) {
    @content;
  }
}

$min-breakpoints: (
  "xs": 390px,
  "sm": 481px,
  "md": 769px,
  "lg": 1025px,
  "xl": 1201px,
  "xxl": 1513px,
  "xxxl": 1921px,
);

@mixin mq-min($breakpoint) {
  $value: map-get($min-breakpoints, $breakpoint);
  @media screen and (min-width: $value) {
    @content;
  }
}

// Users that prefer dark theme
@mixin mq-dark {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

// Users on tables and smart phones
@mixin mq-touch {
  @media (hover: none) and (pointer: coarse) {
    @content;
  }
}

// Users on computers and laptops
@mixin mq-mouse {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

// Users that don't mind animations (motion)
@mixin mq-motion-allow {
  @media (prefers-reduced-motion: no-preference) {
    @content;
  }
}

// Users that are sensitive to motion. Use this to remove animations.
@mixin mq-motion-reduce {
  @media (prefers-reduced-motion: reduce) {
    @content;
  }
}
