$primary-font: 'Saira', sans-serif;
$secondary-font: 'Plus Jakarta Sans', sans-serif;

$black: #020202;
$white: #f8f8f8;
$dark-grey: #262626;
$light-grey: #D6D6D6;
$green: #6CA793;

$content-width: 1920px;
$body-padding: 64px;
$body-padding-lg: 40px;
$body-padding-md: 24px;

$vertical-section-padding: 196px;
$vertical-section-padding-xxl: 156px;
$vertical-section-padding-lg: 124px;
$vertical-section-padding-md: 148px;
$vertical-section-padding-sm: 96px;

$test: 2px dashed coral;
$test-bg: cornflowerblue;