$primary-font: "Saira", sans-serif; /* 300-700 only, according to their brand guide */
$secondary-font: "Plus Jakarta Sans", sans-serif; // Not listed in their brand guide

$black: #020202; // Not listed in their brand guide
$white: #fcfeff;
$grey-dark: #231f20;
$grey-light: #d9dadb;
$pale: #90ffd7;
$green-light: #6ca793;
$green-dark: #4c7567;

// Site Scaffolding

$content-width: 1920px;
$body-padding: 64px;
$body-padding-xxl: 40px;
$body-padding-md: 24px;

$vertical-section-padding: 196px;
$vertical-section-padding-xxl: 156px;
$vertical-section-padding-lg: 124px;
$vertical-section-padding-md: 148px;
$vertical-section-padding-sm: 96px;

$horizontal-section-padding: 148px;
$horizontal-section-padding-xxl: 96px;
$horizontal-section-padding-xl: 124px; // used only on slim section
$horizontal-section-padding-lg: 96px;
$horizontal-section-padding-md: 48px;
// $horizontal-section-padding-sm: 96px;

// Debugging

$test: 2px dashed rgba(coral, 0.8);
$test-bg: rgba(cornflowerblue, 0.8);
