* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background: rgba(108, 167, 147, 0.5);
}

html {
  scroll-behavior: smooth;
}

body {
  background: #D6D6D6;
  color: #020202;
}

header,
section {
  max-width: 1920px;
  margin: auto;
}

header > * {
  z-index: 3;
}
header .header-logo {
  position: fixed;
  top: 56px;
  left: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  mix-blend-mode: difference;
}
@media screen and (min-width: 1921px) {
  header .header-logo {
    left: calc(50% - 960px + 64px);
  }
}
@media screen and (max-width: 1024px) {
  header .header-logo {
    left: 40px;
  }
}
@media screen and (max-width: 768px) {
  header .header-logo {
    left: 24px;
  }
}
header .header-logo .logo-icon {
  width: 32px;
  transition: 0.2s ease;
}
@media screen and (max-width: 1440px) {
  header .header-logo .logo-icon {
    width: 24px;
  }
}
header .header-logo .logo-text {
  width: 52px;
  height: 20px;
  translate: 0 2px;
  object-fit: cover;
  object-position: left;
  transition: 0.2s ease;
}
@media screen and (max-width: 1440px) {
  header .header-logo .logo-text {
    scale: 0.8;
    transform-origin: left;
  }
}
header .cta-wrapper {
  position: fixed;
  top: 44px;
  right: 64px;
  transition: 0.2s ease 0.12s, right 0s;
}
@media screen and (min-width: 1921px) {
  header .cta-wrapper {
    right: calc(50% - 960px + 64px);
  }
}
@media screen and (max-width: 1024px) {
  header .cta-wrapper {
    display: none;
  }
}
header .cta-wrapper.menu-active {
  opacity: 0;
  pointer-events: none;
}
header .menu-btn {
  position: fixed;
  top: 64px;
  right: 64px;
  translate: 0 -50%;
  width: 36px;
  height: 36px;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease 0s, right 0s;
  mix-blend-mode: difference;
}
@media screen and (min-width: 1921px) {
  header .menu-btn {
    right: calc(50% - 960px + 64px);
  }
}
@media screen and (max-width: 1024px) {
  header .menu-btn {
    right: 40px;
    opacity: 1;
    pointer-events: all;
  }
}
@media screen and (max-width: 768px) {
  header .menu-btn {
    right: 24px;
  }
}
header .menu-btn:hover, header .menu-btn:focus {
  translate: 4px -50%;
}
header .menu-btn:hover .menu-btn-text-wrapper, header .menu-btn:focus .menu-btn-text-wrapper {
  translate: -120% -50%;
  opacity: 1;
}
header .menu-btn .menu-btn-dots-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 8px;
  transition: 0.2s ease;
}
header .menu-btn .menu-btn-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 50%;
  left: 0;
  translate: -80% -50%;
  height: 24px;
  opacity: 0;
  transition: 0.3s ease;
  overflow: hidden;
}
header .menu-btn .menu-btn-text {
  font-family: "Saira", sans-serif;
  text-transform: uppercase;
  color: #f8f8f8;
  font-size: 14px;
  transition: 0.2s ease;
}
header .menu-btn-dot {
  width: 4px;
  height: 4px;
  background: #f8f8f8;
  transition: 0.3s ease;
}
header .menu-btn.active {
  opacity: 1;
  pointer-events: all;
}
header .menu-btn.active .menu-btn-text {
  translate: 0 -100%;
}
header .menu-btn.active .menu-btn-dots-wrapper {
  rotate: 45deg;
}
header .menu-btn.active .menu-btn-dot:nth-of-type(odd) {
  opacity: 0;
}
header .menu-btn.active .menu-btn-dot:nth-of-type(5) {
  opacity: 1;
}
header.scroll-active .header-logo .logo-text {
  width: 0px;
  height: 20px;
}
header.scroll-active .cta-wrapper {
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease 0s;
}
header.scroll-active .menu-btn {
  opacity: 1;
  pointer-events: all;
  transition: all 0.3s ease, opacity 0.2s ease 0.12s;
}

nav {
  position: fixed;
  top: 0;
  background: #D6D6D6;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  transition: opacity 0.3s ease 0.3s;
}
nav .width-constraint {
  position: relative;
  max-width: 1920px;
  height: 100vh;
  margin: auto;
}
nav .nav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: absolute;
  top: 50%;
  left: 64px;
  translate: 0 -50%;
  list-style: none;
}
nav .nav-links li {
  display: flex;
}
nav .nav-links .nav-link {
  font-family: "Saira", sans-serif;
  font-size: 96px;
  text-transform: uppercase;
  line-height: 100%;
  transition: 0.2s ease;
  height: 100%;
  border-left: 4px solid transparent;
}
@media screen and (max-width: 1440px) {
  nav .nav-links .nav-link {
    font-size: 64px;
  }
}
nav .nav-links .nav-link:hover, nav .nav-links .nav-link:focus {
  padding-left: 36px;
  border-color: #6CA793;
}
@media screen and (max-width: 1440px) {
  nav .nav-links .nav-link:hover, nav .nav-links .nav-link:focus {
    padding-left: 24px;
  }
}
nav.active {
  opacity: 1;
  pointer-events: all;
}

section {
  padding: 196px 64px;
}
@media screen and (max-width: 1440px) {
  section {
    padding: 156px 64px;
  }
}
@media screen and (max-width: 1024px) {
  section {
    padding: 124px 40px;
  }
}
@media screen and (max-width: 768px) {
  section {
    padding: 48px 24px;
  }
}

h1,
h2,
h3 {
  font-family: "Saira", sans-serif;
  line-height: 100%;
  font-weight: 500;
}

p,
a {
  font-family: "Plus Jakarta Sans", sans-serif;
}

a {
  color: #020202;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.cta-wrapper {
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 1024px) {
  .cta-wrapper {
    gap: 12px;
  }
}
.cta-wrapper a {
  padding: 12px 16px;
}
@media screen and (max-width: 1440px) {
  .cta-wrapper a {
    padding: 10px 14px;
    font-size: 14px;
  }
}
.cta-wrapper .cta-1 {
  background: #6CA793;
  color: #f8f8f8;
  border-radius: 4px;
}
.cta-wrapper .cta-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.cta-wrapper .cta-2 svg {
  transition: 0.3s ease;
}
.cta-wrapper .cta-2 svg path {
  fill: #6CA793;
}
.cta-wrapper .cta-2:hover svg, .cta-wrapper .cta-2:focus svg {
  translate: 4px 0;
}

#hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  margin-top: 96px;
}
@media screen and (max-width: 1024px) {
  #hero-section {
    flex-direction: column;
  }
}
#hero-section .hero-headline {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
@media screen and (max-width: 1024px) {
  #hero-section .hero-headline {
    width: 100%;
  }
}
#hero-section .hero-headline > * {
  padding-left: 48px;
}
@media screen and (max-width: 1440px) {
  #hero-section .hero-headline > * {
    padding-left: 24px;
  }
}
@media screen and (max-width: 1024px) {
  #hero-section .hero-headline > * {
    padding-left: 12px;
  }
}
#hero-section .hero-headline h1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-left: 4px solid #6CA793;
  font-size: 104px;
  text-transform: uppercase;
  margin-bottom: 48px;
}
@media (max-width: 1664px) {
  #hero-section .hero-headline h1 {
    font-size: 86px;
  }
}
@media screen and (max-width: 1440px) {
  #hero-section .hero-headline h1 {
    font-size: 72px;
  }
}
@media screen and (max-width: 1200px) {
  #hero-section .hero-headline h1 {
    font-size: 64px;
  }
}
@media screen and (max-width: 1024px) {
  #hero-section .hero-headline h1 {
    font-size: 86px;
  }
}
@media screen and (max-width: 768px) {
  #hero-section .hero-headline h1 {
    font-size: 64px;
  }
}
#hero-section .hero-headline h1 span:last-of-type {
  align-self: flex-end;
}
#hero-section .hero-headline .companion-text {
  font-family: "Saira", sans-serif;
  font-size: 18px;
}
@media screen and (max-width: 1440px) {
  #hero-section .hero-headline .companion-text {
    font-size: 16px;
  }
}
#hero-section .hero-image {
  width: 50%;
}
@media screen and (max-width: 1440px) {
  #hero-section .hero-image {
    width: 46%;
  }
}
@media screen and (max-width: 1024px) {
  #hero-section .hero-image {
    width: 100%;
  }
}
#hero-section .hero-image img {
  width: 48%;
}
#hero-section .hero-image img:first-of-type {
  translate: 20% 0;
}
#hero-section .hero-image img:last-of-type {
  translate: -20% 0;
}

#video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  max-width: unset;
  width: 100vw;
  height: 200vh;
}/*# sourceMappingURL=styles.css.map */