@import "variables", "mixins", "globals", "animations";

#hero-section {
  position: relative;
  @include row-between;
  align-items: flex-start;
  margin-top: 96px;
  overflow: hidden;

  @include mq-max("xxl") {
    margin-top: 72px;
  }

  @include mq-max("lg") {
    flex-direction: column;
    align-items: center;
    gap: 96px;
    padding-bottom: 360px;
  }

  @include mq-max("md") {
    padding-bottom: 320px;
  }

  @include mq-max("sm") {
    padding-bottom: 420px;
  }

  .hero-headline {
    width: 50%;
    @include column-left;
    gap: 24px;

    @include mq-max("lg") {
      width: 100%;
    }

    & > * {
      padding-left: 48px;

      @include mq-max("xxl") {
        padding-left: 24px;
      }

      @include mq-max("lg") {
        padding-left: 36px;
      }

      @include mq-max("md") {
        padding-left: 24px;
      }

      @include mq-max("sm") {
        padding-left: 16px;
      }
    }

    h1 {
      @include column-left;
      border-left: 4px solid $green-light;
      font-size: 96px;
      font-weight: 500;
      margin-bottom: 48px;

      @media (max-width: 1664px) {
        font-size: 80px;
      }

      @include mq-max("xl") {
        font-size: 64px;
      }

      @include mq-max("lg") {
        // font-size: 80px;
        font-size: 8vw;
      }

      @include mq-max("md") {
        // font-size: 56px;
        font-size: 10vw;
        border-width: 3px;
      }

      @include mq-max("sm") {
        font-size: 40px;
      }

      span:last-of-type {
        align-self: flex-end;
      }
    }

    .companion-text {
      font-family: $primary-font;
      font-size: 18px;

      @include mq-max("xxl") {
        font-size: 16px;
      }

      @include mq-max("md") {
        font-size: 14px;
      }
    }

    .cta-wrapper {
      @include mq-max("sm") {
        padding-left: 0;
      }
    }
  }

  .hero-img {
    width: 50%;
    translate: 12% -4%;

    @include mq-max("xl") {
      translate: 8% 0;
    }

    @include mq-max("lg") {
      display: none;
      // width: 80%;
    }

    img {
      width: 48%;
      opacity: 0;

      &:first-of-type {
        translate: 20% 6%;
      }

      &:last-of-type {
        translate: -20% -6%;
      }
    }
  }

  .hero-img-mobile {
    display: none;

    @include mq-max("lg") {
      @include row-center;
      gap: 24px;
      position: absolute;
      bottom: 0;
      left: 0;
      translate: 0 36%;
    }

    @include mq-max("sm") {
      translate: 0 -48%;
      gap: 16px;
    }

    img {
      width: 20%;

      @include mq-max("md") {
        width: 26%;
      }

      &:first-of-type,
      &:last-of-type {
        translate: 0 32%;

        @include mq-max("md") {
          display: none;
        }
      }

      &:nth-of-type(even) {
        translate: 0 16%;
      }
    }
  }

  .hero-background-text {
    position: absolute;
    top: 32%;
    left: 50%;
    translate: -50% 0;
    z-index: -1;

    @include mq-max("lg") {
      display: none;
    }

    p {
      font-family: $primary-font;
      font-size: min(36vw, 720px);
      opacity: 0.02;
      line-height: 0;
      user-select: none;
    }
  }

  &.load-complete {
    .hero-img {
      img {
        &:first-of-type {
          animation: hero-img-1-fade 0.8s ease 0.6s forwards;
        }

        &:last-of-type {
          animation: hero-img-2-fade 0.8s ease 0.6s forwards;
        }
      }
    }
  }
}

#video-section {
  @include column-center;
  background: #000;
  max-width: unset;
  width: 100vw;
  padding-top: 560px;

  @include mq-max("xxl") {
    padding-top: 520px;
  }

  @include mq-max("sm") {
    padding-top: 320px;
  }

  .video-wrapper {
    @include row-center;
    position: sticky;
    top: 50%;
    translate: 0 -50%;
    margin-bottom: -196px; // Adjust space between video and paragraph
    width: 28%;
    z-index: 1;

    @include mq-max("xxl") {
      margin-bottom: -148px;
    }

    @include mq-max("xl") {
      width: 32%;
    }

    @include mq-max("lg") {
      margin-bottom: -64px;
      width: 36%;
    }

    @include mq-max("md") {
      width: 40%;
    }

    @include mq-max("sm") {
      width: 64%;
      margin-bottom: 48px;
    }

    video {
      width: 100%;
      cursor: pointer;

      &:hover,
      &:focus-within {
        & + .video-toggle-btn {
          opacity: 1 !important;
          border: 2px solid rgba($white, 1);
          scale: 1.12;

          .play-icon-wrapper,
          .pause-icon-wrapper {
            translate: 0 -40%;

            @include mq-max("md") {
              translate: 0 -42%;
            }

            svg {
              fill: rgba($white, 1);
            }
          }
        }
      }

      @include mq-touch {
        & + .video-toggle-btn {
          scale: 1.12;
          border: 2px solid rgba($white, 1);

          .play-icon-wrapper,
          .pause-icon-wrapper {
            translate: 0 -42%;

            svg {
              fill: rgba($white, 1);
            }
          }
        }
      }
    }

    .video-toggle-btn {
      @include absolute-center;
      @include row-center;
      background: $grey-dark;
      width: 96px;
      height: 96px;
      border: 2px solid rgba($white, 0.5);
      border-radius: 50%;
      overflow: hidden;
      transition: 0.25s ease;

      @include mq-max("xxl") {
        width: 72px;
        height: 72px;
      }

      @include mq-max("md") {
        width: 64px;
        height: 64px;
      }

      &:hover,
      &:focus {
        border: 2px solid rgba($white, 1);
        opacity: 1 !important;
        scale: 1.12;

        .play-icon-wrapper,
        .pause-icon-wrapper {
          translate: 0 -40%;

          @include mq-max("md") {
            translate: 0 -42%;
          }

          svg {
            fill: rgba($white, 1);
          }
        }
      }

      .play-icon-wrapper,
      .pause-icon-wrapper {
        @include column-center;
        gap: 64px;
        translate: 0 40%;
        transition: 0.2s ease;

        @include mq-max("md") {
          translate: 0 42%;
        }

        svg {
          width: 16px;
          fill: rgba($white, 0.5);

          @include mq-max("md") {
            width: 12px;
          }
        }
      }

      .pause-icon-wrapper {
        display: none;
      }
    }
  }

  .video-paragraph-wrapper {
    // border: $test;
    padding-top: 360px; // Alter pinning of video
    max-width: calc($content-width - $horizontal-section-padding * 2);
    z-index: 2;
    pointer-events: none;
    text-align: center;
    // text-align: justify;

    @include mq-max("lg") {
      padding-top: 280px;
    }

    .video-paragraph {
      font-family: $primary-font;
      font-size: min(3.85vw, 77.5px);
      font-weight: 700;
      line-height: 100%;

      display: inline;
      text-transform: uppercase;
      background-repeat: no-repeat;
      background-clip: text;
      -webkit-background-clip: text;
      background-image: linear-gradient($white, $white);
      -webkit-text-fill-color: rgba($white, 0.36);
      background-size: 0% 100%; // Set with JS

      filter: drop-shadow(0px 0px 1px $grey-dark);
      transition: background 1s cubic-bezier(0.12, 0.76, 0.64, 1);

      @include mq-max("xxl") {
        font-size: 4vw;
      }

      @include mq-max("xl") {
        font-size: 48px;
      }

      @include mq-max("md") {
        font-size: 40px;
      }

      @include mq-max("sm") {
        font-size: 28px;
      }
    }
  }
}

#platform-section {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 548px;

  @include mq-max("xxl") {
    padding-top: 420px;
  }

  @include mq-max("lg") {
    padding-top: calc($vertical-section-padding-lg * 2);
  }

  @include mq-max("md") {
    padding-top: $vertical-section-padding-md;
  }

  .headline-wrapper {
    position: sticky;
    top: 50%;
    translate: 0 -50%;
    width: 50%;
    height: 364px;

    @include mq-max("xxl") {
      height: 296px;
    }

    @include mq-max("xl") {
      height: 312px;
    }

    @include mq-max("lg") {
      @include column-left;
      position: static;
      translate: unset;
      width: 100%;
      height: unset;

      & > * {
        order: 1;
      }
    }

    .cta-wrapper {
      position: absolute;
      bottom: 0;

      @include mq-max("lg") {
        position: static;
        order: 0;
        margin-bottom: 196px;
      }

      @include mq-max("sm") {
        margin-bottom: 124px;
      }
    }

    .headline-text {
      position: absolute;
      top: 0;

      @include mq-max("lg") {
        position: static;
      }

      &::before {
        content: "";
        // background-color: $grey-light;
        background-color: var(--background);
        position: absolute;
        top: 0;
        left: 0;
        translate: -100% 0;
        width: 4px;
        height: 0;
      }
    }
    .headline-text-base {
      transition: 0.3s ease 0.2s;

      @include mq-max("lg") {
        order: 0;
      }

      .headline-title,
      .headline-subtext {
        transition: 0.3s ease 0.2s;
      }
    }
    .headline-text-device {
      height: 262px;
      pointer-events: none;

      @include mq-max("xxl") {
        height: 216px;
      }

      @include mq-max("xl") {
        width: 112%;
      }

      @include mq-max("lg") {
        height: 216px;
        width: 120%;
      }

      @include mq-max("lg") {
        width: auto;
        height: auto;
        border: none;
      }

      @include mq-max("sm") {
        margin-bottom: 0;
      }

      .headline-title,
      .headline-subtext {
        opacity: 0;
        transition: 0.3s ease;

        @include mq-max("lg") {
          opacity: 1 !important;
        }
      }

      .headline-title {
        font-size: 80px;
        font-weight: 400;
        text-transform: uppercase;

        @include mq-max("xxl") {
          font-size: 56px;
        }

        @include mq-max("xl") {
          font-size: 48px;
        }

        @include mq-max("md") {
          font-size: 36px;
        }

        @include mq-max("sm") {
          font-size: 32px;
        }
      }
    }

    &.device-1,
    &.device-2,
    &.device-3,
    &.device-4,
    &.device-5 {
      .headline-text-base {
        pointer-events: none;

        .headline-title,
        .headline-subtext {
          opacity: 0;
          transition: 0.3s ease;
        }
      }
    }

    &.device-1 {
      .headline-text {
        pointer-events: none;

        .headline-title,
        .headline-subtext {
          opacity: 0;
          transition: 0.3s ease 0s;
        }
      }

      .headline-text-device-1 {
        z-index: 1;
        opacity: 1;
        pointer-events: all;
        transition: 0.3s ease 0.2s;

        &::before {
          animation: platform-text-bar 0.6s ease 0.1s forwards;
        }

        .headline-title,
        .headline-subtext {
          opacity: 1;
          transition: 0.3s ease 0.2s;
        }
      }
    }

    &.device-2 {
      .headline-text-device-1 {
        pointer-events: none;

        .headline-title,
        .headline-subtext {
          opacity: 0;
          transition: 0.3s ease 0s;
        }
      }

      .headline-text-device-2 {
        z-index: 1;
        opacity: 1;
        pointer-events: all;
        transition: 0.3s ease 0.2s;

        &::before {
          animation: platform-text-bar 0.6s ease 0.1s forwards;
        }

        .headline-title,
        .headline-subtext {
          opacity: 1;
          transition: 0.3s ease 0.2s;
        }
      }
    }

    &.device-3 {
      .headline-text-device-2 {
        pointer-events: none;

        .headline-title,
        .headline-subtext {
          opacity: 0;
          transition: 0.3s ease 0s;
        }
      }

      .headline-text-device-3 {
        z-index: 1;
        opacity: 1;
        pointer-events: all;
        transition: 0.3s ease 0.2s;

        &::before {
          animation: platform-text-bar 0.6s ease 0.1s forwards;
        }

        .headline-title,
        .headline-subtext {
          opacity: 1;
          transition: 0.3s ease 0.2s;
        }
      }
    }

    &.device-4 {
      .headline-text-device-3 {
        pointer-events: none;

        .headline-title,
        .headline-subtext {
          opacity: 0;
          transition: 0.3s ease 0s;
        }
      }

      .headline-text-device-4 {
        z-index: 1;
        opacity: 1;
        pointer-events: all;
        transition: 0.3s ease 0.2s;

        &::before {
          animation: platform-text-bar 0.6s ease 0.1s forwards;
        }

        .headline-title,
        .headline-subtext {
          opacity: 1;
          transition: 0.3s ease 0.2s;
        }
      }
    }

    &.device-5 {
      .headline-text-device-4 {
        pointer-events: none;

        .headline-title,
        .headline-subtext {
          opacity: 0;
          transition: 0.3s ease 0s;
        }
      }

      .headline-text-device-5 {
        z-index: 1;
        opacity: 1;
        pointer-events: all;
        transition: 0.3s ease 0.2s;

        &::before {
          animation: platform-text-bar 0.6s ease 0.1s forwards;
        }

        .headline-title,
        .headline-subtext {
          opacity: 1;
          pointer-events: all;
          transition: 0.3s ease 0.2s;
        }
      }
    }

    // Mobile device images

    .device-img-mobile {
      display: none;

      @include mq-max("lg") {
        padding-left: unset;
        display: block;
        align-self: center;
        width: 30%;
        margin: 64px 0 128px;
      }

      @include mq-max("md") {
        width: 40%;
      }

      @include mq-max("sm") {
        width: 56%;
        margin: 48px 0 128px;
      }
    }
  }

  .platform-headline-img {
    position: sticky;
    top: 50%;
    translate: 0 -50%;
    width: 0;
    z-index: -1;
    user-select: none;

    // @include mq-max("lg") {
    //   translate: 0 -64%;
    //   margin-bottom: 64px;
    // }

    @include mq-max("lg") {
      display: none;
    }

    img {
      width: min(15vw, 288px);
      translate: 108% 0;

      @include mq-max("xxl") {
        translate: 104% 0;
      }

      @include mq-max("xl") {
        translate: 116% 0;
      }

      // @include mq-max("lg") {
      //   translate: 128% 0;
      // }
    }
  }

  .device-showcase {
    @include column-center;
    width: 50%;
    translate: 12% 0;
    margin-top: 360px;

    @include mq-max("lg") {
      display: none;
    }

    img {
      width: 50%;
      margin: 128px 0;

      @include mq-max("xxl") {
        margin: 96px 0;
      }

      // @include mq-max("lg") {
      //   width: 80%;
      // }

      &:last-of-type {
        @include mq-max("xxl") {
          margin-bottom: 0;
        }

        @include mq-max("xl") {
          margin-bottom: 64px;
        }
      }
    }
  }
}

#faq-section {
  @include column-center;

  @include mq-max("md") {
    align-items: flex-start;
  }

  .headline-wrapper,
  .faq-list {
    width: 100%;
  }

  .faq-list {
    display: flex;
    flex-direction: column;
    margin: 64px 124px;

    @include mq-max("md") {
      width: 100%;
      margin: 48px 0 64px;
    }

    .faq-item {
      border-bottom: 3px solid $grey-dark;
      position: relative;
      padding-top: 40px;
      display: grid;
      grid-template-rows: 0fr;
      transition: all 0.3s ease;

      @include mq-max("xxl") {
        padding-top: 28px;
      }

      &:hover,
      &:focus-within {
        &::before {
          animation: underline-item-hover 0.3s ease-in-out forwards;
        }
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        translate: 0 100%;
        width: 0;
        height: 3px;
        background: $green-light;
        animation: underline-item-default 0.3s ease-in-out forwards;
      }

      &.active {
        grid-template-rows: 1fr;
        border-color: $green-light;

        .question {
          .angle-arrow {
            rotate: 135deg;
          }
        }

        .answer {
          opacity: 1;
          pointer-events: all;
          padding: 40px 0 16px;
          translate: 0 0;
          transition: 0.3s ease 0.12s;

          @include mq-max("xxl") {
            padding: 40px 0 12px;
          }
        }
      }
    }

    .question {
      @include row-between;
      position: absolute;
      top: 0;
      width: 100%;
      padding: 36px 0 20px;
      z-index: 1;

      h3 {
        // color: $black;
        color: var(--primary-font-color);
        font-size: 20px;
        font-weight: 500;
        text-transform: capitalize;
        text-align: left;
        display: flex;
        gap: 12px;
        transition: 0.3s ease;

        @include mq-max("xxl") {
          font-size: 16px;
          gap: 8px;
        }

        @include mq-max("md") {
          font-size: 14px;
          gap: 4px;
        }

        .question-indicator {
          width: 24px;
          margin: 0 56px;

          @include mq-max("xxl") {
            margin: 0 24px;
          }

          @include mq-max("xl") {
            margin: 0;
          }

          @include mq-max("md") {
            width: 20px;
          }
        }
      }

      .angle-arrow-wrapper {
        margin-right: 56px;
        transition: 0.4s ease;

        @include mq-max("xxl") {
          margin-right: 24px;
        }

        @include mq-max("xl") {
          margin: 0;
        }

        .angle-arrow {
          width: 16px;
          height: 16px;
          transition: 0.3s ease;

          @include mq-max("xxl") {
            width: 12px;
            height: 12px;
          }

          @include mq-max("md") {
            width: 10px;
            height: 10px;
          }

          path {
            // fill: $black;
            fill: var(--primary-font-color);
          }

          @include mq-max("sm") {
            width: 2rem;
          }
        }
      }
    }

    .answer {
      overflow: hidden;
      opacity: 0;
      pointer-events: none;
      translate: 0 0;
      padding: 24px 0 12px;
      display: flex;
      font-size: 20px;
      line-height: 150%;
      transition: 0.2s ease 0s;
      cursor: pointer;

      @include mq-max("xxl") {
        font-size: 16px;
        padding: 32px 0 12px;
      }

      @include mq-max("md") {
        font-size: 14px;
      }

      .answer-indicator {
        padding-right: 150px;

        @include mq-max("xxl") {
          padding-right: 80px;
        }

        @include mq-max("xl") {
          padding-right: 32px;
        }

        @include mq-max("md") {
          padding-right: 24px;
        }
      }

      p {
        width: 76%;

        @include mq-max("xxl") {
          width: 84%;
        }
      }
    }

    /* 
      Experimental style for long FAQ questions.
      Ideally the height will be dynamic
      and this wouldn't be needed.
     */
    .long-faq-item {
      @include mq-max("sm") {
        padding-top: 32px;

        .question {
          padding: 20px 0;

          h3 {
            line-height: 150%;
          }
        }
      }
    }

    .long-faq-item-xs {
      @include mq-max("xs") {
        padding-top: 32px;

        .question {
          padding: 20px 0;

          h3 {
            line-height: 150%;
          }
        }
      }
    }
  }
}

#statement-section {
  @include column-center;
  gap: 48px;

  .statement-text {
    font-family: $primary-font;
    font-size: 36px;
    font-weight: 300;
    text-align: center;

    @include mq-max("xxl") {
      font-size: 32px;
    }

    @include mq-max("xl") {
      font-size: 28px;
    }

    @include mq-max("lg") {
      font-size: 24px;
    }

    @include mq-max("sm") {
      font-size: 18px;
      font-weight: 400;
    }
  }

  .statement-divider {
    width: 520px;
    height: 2px;
    background-color: $green-light;
    border: none;

    @include mq-max("xxl") {
      width: 464px;
    }

    @include mq-max("xl") {
      width: 412px;
    }

    @include mq-max("lg") {
      width: 348px;
    }

    @include mq-max("md") {
      width: 280px;
    }

    @include mq-max("sm") {
      width: 224px;
    }
  }

  .statement-img {
    width: 148px;

    @include mq-max("xxl") {
      width: 96px;
    }

    @include mq-max("xl") {
      width: 80px;
    }

    @include mq-max("lg") {
      width: 64px;
    }
  }
}

#demo-section {
  position: relative;
  @include row-between;

  @include mq-max("lg") {
    flex-direction: column;
  }

  .headline-wrapper {
    width: 586px;

    @include mq-max("xxl") {
      width: 440px;
    }

    @include mq-max("xl") {
      width: 412px;
    }

    @include mq-max("lg") {
      width: 100%;
      margin-bottom: 48px;
    }

    .headline-text {
      padding-left: unset;
      border: none;

      @include mq-max("lg") {
        padding-left: 24px;
        border-left: 4px solid $green-light;
      }
    }
  }

  .demo-divider {
    @include absolute-center;
    height: 448px;
    width: 4px;
    background: $green-light;

    @include mq-max("xxl") {
      height: 360px;
    }

    @include mq-max("lg") {
      display: none;
    }
  }

  .mail-form {
    $input-spacing: 8px;

    @include column-left;
    gap: 48px;
    width: 36%;
    height: 100%;
    flex-shrink: 0;
    transition: 0.3s ease;

    @include mq-max("xxl") {
      gap: 32px;
      width: 42%;
    }

    @include mq-max("lg") {
      width: 100%;
    }

    &.active {
      translate: 0 -24px;
    }

    .form-input-block {
      position: relative;
      width: 100%;
      height: 48px;

      @include mq-max("xxl") {
        height: 40px;
      }

      &:hover,
      &:focus-within {
        &::before {
          animation: underline-item-hover 0.3s ease-in-out forwards;
        }

        .label {
          padding-left: $input-spacing;
        }
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 3px;
        background: $green-light;
        transition: 0.3s ease;
        z-index: 1;
        animation: underline-item-default 0.3s ease-in-out forwards;
      }

      &:last-of-type {
        margin-bottom: 24px;
      }
    }

    .input,
    .label {
      font-family: $secondary-font;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      font-size: 20px;

      @include mq-max("xxl") {
        font-size: 16px;
      }
    }

    .input {
      bottom: 0;
      color: $black;
      background: transparent;
      border: none;
      border-bottom: 3px solid $grey-dark;
      border-radius: 0;
      transition: border 0.36s ease;
      padding-left: $input-spacing;
    }

    .label {
      top: 12px;
      color: rgba($grey-dark, 0.36);
      pointer-events: none;
      transition: 0.24s ease;

      @include mq-max("xxl") {
        top: 8px;
      }
    }

    .input:focus ~ .label,
    .input:not(:placeholder-shown).input:not(focus) ~ .label {
      color: rgba($grey-dark, 0.75);
      transform: translate(0, -75%);
      font-size: 16px;
      padding-left: $input-spacing;

      @include mq-max("xxl") {
        transform: translate(0, -60%);
        font-size: 14px;
      }
    }

    .submit-btn {
      font-family: $secondary-font;
      font-size: 16px;
      padding: 12px 48px;

      @include mq-max("xxl") {
        padding: 12px 32px;
      }

      @include mq-max("sm") {
        font-weight: 400;
        align-self: center;
      }

      &:hover,
      &:focus {
        &::before {
          width: 40%;

          @include mq-max("xxl") {
            width: 50%;
          }
        }
      }
    }

    // .confirmation-message,
    // .error-message {
    //   position: absolute;
    //   bottom: 0;
    //   translate: 0 148%;
    //   @include row-between;
    //   gap: 12px;
    //   font-size: 14px;
    //   color: $green-light;
    //   opacity: 0;
    //   pointer-events: none;
    //   transition: 0.24s ease 0.12s;

    //   @include mq-max('sm') {
    //     font-size: 13px;
    //   }

    //   &.active {
    //     opacity: 1;
    //     pointer-events: all;

    //     .check-icon,
    //     .error-icon {
    //       scale: 1.2;
    //     }
    //   }

    //   .check-icon,
    //   .error-icon {
    //     width: 24px;
    //     height: 24px;
    //     border: 1px solid $green-light;
    //     border-radius: 50%;
    //     padding: 4px;
    //     scale: 0.5;
    //     transition: 0.3s ease 0.24s;

    //     path {
    //       fill: $green-light;
    //     }
    //   }
    // }

    // .error-message {
    //   // color: $yellow;

    //   .error-icon {
    //     border-color: transparent;
    //     border-radius: 0;
    //     margin-right: -6px;

    //     // path {
    //     //   fill: $yellow;
    //     // }
    //   }
    // }
  }
}

#pre-footer {
  display: flex;
  justify-content: space-evenly;

  @include mq-max("lg") {
    justify-content: space-between;
  }

  @include mq-max("md") {
    flex-direction: column;
    gap: 48px;
  }

  .contact-block {
    .contact-title {
      font-size: 48px;
      font-weight: 500;
      margin-bottom: 32px;

      @include mq-max("xxl") {
        font-size: 36px;
      }

      @include mq-max("md") {
        font-size: 48px;
        margin-bottom: 24px;
      }
    }

    .contact-link {
      position: relative;
      display: block;
      translate: 4px 0;
      transition: 0.2s ease;

      &:hover,
      &:focus {
        translate: 12px 0;

        &::before {
          translate: -12px 0;
          background: $green-light;
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        translate: -4px 0;
        width: 3px;
        height: 100%;
        transition: 0.2s ease;
      }
    }

    .social-media-links {
      gap: 32px;

      @include mq-max("md") {
        gap: 16px;
      }
    }
  }
}
