* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-moz-selection {
  background: rgba(108, 167, 147, 0.5);
}
*::selection {
  background: rgba(108, 167, 147, 0.5);
}

html {
  scroll-behavior: smooth;
}

body {
  background: #D6D6D6;
  color: #020202;
}

header,
section {
  max-width: 1920px;
  margin: auto;
}

header > * {
  z-index: 5;
}
header .header-logo {
  left: 64px;
  position: fixed;
  top: 56px;
  display: flex;
  align-items: center;
  gap: 6px;
  mix-blend-mode: difference;
}
@media screen and (max-width: 1024px) {
  header .header-logo {
    left: 40px;
  }
}
@media screen and (max-width: 768px) {
  header .header-logo {
    left: 24px;
  }
}
@media screen and (min-width: 1921px) {
  header .header-logo {
    left: calc(50% - 960px + 64px);
  }
}
@media screen and (max-width: 768px) {
  header .header-logo {
    top: 38px;
  }
}
header .header-logo .logo-icon {
  width: 32px;
  transition: 0.2s ease;
}
@media screen and (max-width: 1512px) {
  header .header-logo .logo-icon {
    width: 24px;
  }
}
header .header-logo .logo-text {
  width: 52px;
  height: 20px;
  translate: 0 2px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  transition: 0.2s ease;
}
@media screen and (max-width: 1512px) {
  header .header-logo .logo-text {
    scale: 0.8;
    transform-origin: left;
  }
}
header .cta-wrapper {
  position: fixed;
  top: 44px;
  right: 64px;
  transition: 0.2s ease 0.12s, right 0s;
}
@media screen and (min-width: 1921px) {
  header .cta-wrapper {
    right: calc(50% - 960px + 64px);
  }
}
@media screen and (max-width: 1024px) {
  header .cta-wrapper {
    display: none;
  }
}
header .cta-wrapper .cta-2,
header .cta-wrapper .cta-1 {
  transition: 0.3s ease 0.75s, outline 0s, color 0.3s ease 0.12s, translate 0.3s ease 0s !important;
}
header .cta-wrapper .cta-2::before {
  display: none;
}
header .cta-wrapper .cta-2:hover::before {
  width: 50%;
}
header .menu-btn-wrapper {
  position: fixed;
  top: 64px;
  right: 64px;
  translate: 0 -50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  mix-blend-mode: difference;
}
@media screen and (min-width: 1921px) {
  header .menu-btn-wrapper {
    right: calc(50% - 960px + 64px);
  }
}
@media screen and (max-width: 1024px) {
  header .menu-btn-wrapper {
    right: 40px;
    opacity: 1;
    pointer-events: all;
  }
}
@media screen and (max-width: 768px) {
  header .menu-btn-wrapper {
    top: 48px;
    right: 24px;
  }
}
header .menu-btn-wrapper .menu-btn {
  width: 36px;
  height: 36px;
  transition: 0.2s ease 0s;
}
header .menu-btn-wrapper .menu-btn:hover, header .menu-btn-wrapper .menu-btn:focus {
  translate: 4px 0;
}
@media screen and (max-width: 480px) {
  header .menu-btn-wrapper .menu-btn:hover, header .menu-btn-wrapper .menu-btn:focus {
    translate: unset;
  }
}
header .menu-btn-wrapper .menu-btn:hover .menu-btn-text-wrapper, header .menu-btn-wrapper .menu-btn:focus .menu-btn-text-wrapper {
  translate: -120% -50%;
  opacity: 1;
}
@media screen and (max-width: 480px) {
  header .menu-btn-wrapper .menu-btn:hover .menu-btn-text-wrapper, header .menu-btn-wrapper .menu-btn:focus .menu-btn-text-wrapper {
    display: none;
  }
}
header .menu-btn-wrapper .menu-btn .menu-btn-dots-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 8px;
  transition: 0.2s ease;
}
header .menu-btn-wrapper .menu-btn .menu-btn-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 50%;
  left: 0;
  translate: -80% -50%;
  height: 24px;
  opacity: 0;
  transition: 0.3s ease;
  overflow: hidden;
}
header .menu-btn-wrapper .menu-btn .menu-btn-text {
  font-family: "Saira", sans-serif;
  text-transform: uppercase;
  color: #f8f8f8;
  font-size: 14px;
  transition: 0.2s ease;
}
header .menu-btn-wrapper .menu-btn-dot {
  width: 4px;
  height: 4px;
  background: #f8f8f8;
  transition: 0.3s ease;
}
header .menu-btn-wrapper .menu-btn.menu-active {
  opacity: 1;
  pointer-events: all;
}
header .menu-btn-wrapper .menu-btn.menu-active .menu-btn-text {
  translate: 0 -100%;
}
header .menu-btn-wrapper .menu-btn.menu-active .menu-btn-dots-wrapper {
  rotate: 45deg;
}
header .menu-btn-wrapper .menu-btn.menu-active .menu-btn-dot:nth-of-type(odd) {
  opacity: 0;
}
header .menu-btn-wrapper .menu-btn.menu-active .menu-btn-dot:nth-of-type(5) {
  opacity: 1;
}
header .menu-btn-wrapper.menu-wrapper-page-top {
  transition: opacity 0.3s ease 0.3s;
}
header.scroll-active .header-logo .logo-text {
  width: 0px;
}
header.scroll-active .cta-wrapper {
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease 0s;
}
header.scroll-active .menu-btn-wrapper {
  opacity: 1;
  pointer-events: all;
  transition: all 0.3s ease, opacity 0.2s ease 0.12s;
}
header.menu-active .header-logo .logo-text {
  width: 52px;
  transition: 0.2s ease 0.65s;
}
header.menu-active .menu-btn-wrapper {
  opacity: 1;
  pointer-events: all;
}
header.menu-active .cta-2,
header.menu-active .cta-1 {
  opacity: 0;
  pointer-events: none;
}

nav {
  position: fixed;
  top: 0;
  background: transparent;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  z-index: 4;
  transition: background 0s ease 0.4s, opacity 0s ease 0.75s;
}
nav .width-constraint {
  position: relative;
  max-width: 1920px;
  height: 100vh;
  height: 100dvh;
  min-height: 768px;
  margin: auto;
}
@media screen and (max-width: 1512px) {
  nav .width-constraint {
    min-height: 640px;
  }
}
@media screen and (max-width: 480px) {
  nav .width-constraint {
    min-height: 520px;
  }
}
nav .nav-links,
nav .nav-footer-links,
nav .nav-social-media {
  left: 64px;
  position: absolute;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0s ease 0.3s;
}
@media screen and (max-width: 1024px) {
  nav .nav-links,
  nav .nav-footer-links,
  nav .nav-social-media {
    left: 40px;
  }
}
@media screen and (max-width: 768px) {
  nav .nav-links,
  nav .nav-footer-links,
  nav .nav-social-media {
    left: 24px;
  }
}
nav .nav-links li a,
nav .nav-footer-links li a,
nav .nav-social-media li a {
  font-family: "Saira", sans-serif;
}
nav .nav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  top: 50%;
  translate: 0 -50%;
}
nav .nav-links li {
  display: flex;
  overflow: hidden;
}
nav .nav-links li:focus-within {
  border-radius: 4px;
  box-shadow: 0 0 0 3px rgba(35, 83, 193, 0.75), 0 0 0 5px rgba(255, 255, 255, 0.75);
}
nav .nav-links li:nth-of-type(2) .nav-link {
  transition: 0.2s ease, translate 0.25s ease 0.65s;
}
nav .nav-links li:nth-of-type(3) .nav-link {
  transition: 0.2s ease, translate 0.45s ease 0.7s;
}
nav .nav-links li:nth-of-type(4) .nav-link {
  transition: 0.2s ease, translate 0.65s ease 0.75s;
}
nav .nav-links .nav-link {
  font-size: 96px;
  text-transform: uppercase;
  line-height: 100%;
  height: 100%;
  translate: 0 100%;
  border-left: 4px solid transparent;
  transition: 0.2s ease, translate 0.3s ease 0.6s;
}
@media screen and (max-width: 1512px) {
  nav .nav-links .nav-link {
    font-size: 72px;
  }
}
@media screen and (max-width: 1024px) {
  nav .nav-links .nav-link {
    font-size: 64px;
  }
}
@media screen and (max-width: 768px) {
  nav .nav-links .nav-link {
    font-size: 48px;
  }
}
@media screen and (max-width: 768px) {
  nav .nav-links .nav-link {
    font-size: 40px;
  }
}
nav .nav-links .nav-link:hover, nav .nav-links .nav-link:focus {
  padding-left: 24px;
  border-color: #6CA793;
}
@media screen and (max-width: 1512px) {
  nav .nav-links .nav-link:hover, nav .nav-links .nav-link:focus {
    padding-left: 16px;
  }
}
nav .nav-footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 64px;
  gap: 48px;
}
@media screen and (max-width: 1024px) {
  nav .nav-footer-links {
    gap: 24px;
  }
}
@media screen and (max-width: 768px) {
  nav .nav-footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    bottom: 40px;
  }
}
@media screen and (max-width: 480px) {
  nav .nav-footer-links {
    gap: 4px;
    bottom: 24px;
  }
}
nav .nav-footer-links li .nav-footer-link {
  padding: 4px;
  border-bottom: 2px solid transparent;
  transition: 0.2s ease;
}
nav .nav-footer-links li .nav-footer-link:hover, nav .nav-footer-links li .nav-footer-link:focus {
  border-color: #6CA793;
}
nav .nav-social-media {
  display: flex;
  gap: 48px;
  bottom: 64px;
  right: 64px;
  left: unset;
}
@media screen and (max-width: 1024px) {
  nav .nav-social-media {
    gap: 32px;
    right: 40px;
    translate: 0 4px;
  }
}
@media screen and (max-width: 768px) {
  nav .nav-social-media {
    bottom: 24px;
    right: 24px;
    translate: 0 -12px;
  }
}
@media screen and (max-width: 480px) {
  nav .nav-social-media {
    gap: 24px;
  }
}
nav .nav-social-media .social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.25s ease;
}
@media screen and (max-width: 480px) {
  nav .nav-social-media .social-media-link {
    width: 24px;
    height: 24px;
  }
}
nav .nav-social-media .social-media-link:hover .social-media-icon-wrapper, nav .nav-social-media .social-media-link:focus .social-media-icon-wrapper {
  translate: 0 -40%;
}
nav .nav-social-media .social-media-link:hover .social-media-icon-wrapper .social-media-icon path, nav .nav-social-media .social-media-link:focus .social-media-icon-wrapper .social-media-icon path {
  fill: #6CA793;
}
nav .nav-social-media .social-media-link .social-media-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  translate: 0 36%;
  transition: 0.25s ease;
}
nav .nav-social-media .social-media-link .social-media-icon-wrapper .social-media-icon path {
  transition: 0.2s ease;
}
nav .nav-abstract {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 24px;
  background: #262626;
  animation: nav-abstract-default 0.75s ease 0s forwards;
}
nav.menu-active {
  opacity: 1;
  pointer-events: all;
  background: #D6D6D6;
  transition: background 0s ease 0.4s;
}
nav.menu-active .nav-abstract {
  animation: nav-abstract-open 0.75s ease 0s forwards;
}
nav.menu-active .nav-links,
nav.menu-active .nav-footer-links,
nav.menu-active .nav-social-media {
  opacity: 1;
  pointer-events: all;
}
nav.menu-active .nav-links .nav-link,
nav.menu-active .nav-footer-links .nav-link,
nav.menu-active .nav-social-media .nav-link {
  translate: 0 0;
}

section {
  padding: 196px 64px;
}
@media screen and (max-width: 1512px) {
  section {
    padding: 156px 64px;
  }
}
@media screen and (max-width: 1024px) {
  section {
    padding: 124px 40px;
  }
}
@media screen and (max-width: 768px) {
  section {
    padding: 148px 24px;
  }
}
@media screen and (max-width: 480px) {
  section {
    padding: 96px 24px;
  }
}

h1,
h2,
h3 {
  font-family: "Saira", sans-serif;
  text-transform: uppercase;
  line-height: 100%;
}

p,
a {
  font-family: "Plus Jakarta Sans", sans-serif;
}

a {
  color: #020202;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.headline-wrapper > * {
  padding-left: 48px;
}
@media screen and (max-width: 1512px) {
  .headline-wrapper > * {
    padding-left: 24px;
  }
}
.headline-wrapper .headline-text {
  border-left: 4px solid #6CA793;
  margin-bottom: 48px;
}
.headline-wrapper .headline-text .headline-title {
  font-size: 96px;
  font-weight: 400;
  margin-bottom: 24px;
}
@media screen and (max-width: 1512px) {
  .headline-wrapper .headline-text .headline-title {
    font-size: 72px;
  }
}
@media screen and (max-width: 1200px) {
  .headline-wrapper .headline-text .headline-title {
    font-size: 56px;
  }
}
@media screen and (max-width: 480px) {
  .headline-wrapper .headline-text .headline-title {
    font-size: 36px;
  }
}
.headline-wrapper .headline-text .headline-subtext {
  font-size: 18px;
}
@media screen and (max-width: 1512px) {
  .headline-wrapper .headline-text .headline-subtext {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .headline-wrapper .headline-text .headline-subtext {
    font-size: 14px;
  }
}

.cta-wrapper {
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 1024px) {
  .cta-wrapper {
    gap: 12px;
  }
}
@media screen and (max-width: 480px) {
  .cta-wrapper {
    gap: 0px;
    width: 90vw;
  }
}
.cta-wrapper a {
  padding: 12px 16px;
}
@media screen and (max-width: 1512px) {
  .cta-wrapper a {
    padding: 10px 14px;
    font-size: 14px;
  }
}
.cta-wrapper .cta-1 {
  position: relative;
  color: #f8f8f8;
  border-radius: 4px;
  transition: color 0.3s ease 0.2s;
}
.cta-wrapper .cta-1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: #6CA793;
  transition: height 0.24s ease 0.2s, width 0.24s ease 0s;
  z-index: -1;
}
.cta-wrapper .cta-1:hover, .cta-wrapper .cta-1:focus {
  color: #020202;
  transition: color 0.3s ease 0s;
}
.cta-wrapper .cta-1:hover::before, .cta-wrapper .cta-1:focus::before {
  border-radius: 0;
  width: 80%;
  height: 3px;
  transition: height 0.24s ease 0s, width 0.24s ease 0.2s;
}
.cta-wrapper .cta-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}
.cta-wrapper .cta-2:hover .cta-2-text::before, .cta-wrapper .cta-2:focus .cta-2-text::before {
  width: 100%;
  animation: cta-2-hover 0.5s ease forwards;
}
.cta-wrapper .cta-2:hover svg, .cta-wrapper .cta-2:focus svg {
  background: #6CA793;
  translate: 6px 0;
}
.cta-wrapper .cta-2:hover svg path, .cta-wrapper .cta-2:focus svg path {
  fill: #D6D6D6;
}
.cta-wrapper .cta-2-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cta-wrapper .cta-2-text::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #6CA793;
  animation: cta-2-default 0.5s ease forwards;
}
.cta-wrapper .cta-2 svg {
  width: 14px;
  height: 14px;
  padding: 4px;
  scale: 2;
  border-radius: 50%;
  margin-left: 12px;
  transition: 0.3s ease;
}
.cta-wrapper .cta-2 svg path {
  fill: #6CA793;
  transition: 0.3s ease;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  z-index: 10;
}
.loading-screen-text-content {
  background: #D6D6D6;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loading-screen-text-content p {
  font-size: 48px;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .loading-screen-text-content p {
    font-size: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .loading-screen-text-content p {
    font-size: 32px;
  }
}
@media screen and (max-width: 768px) {
  .loading-screen-text-content p {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  .loading-screen-text-content p {
    font-size: 16px;
  }
}
.loading-screen-text-content .top-row,
.loading-screen-text-content .bottom-row {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 80vw;
  white-space: nowrap;
  animation: collapse-width 0.4s ease 1.2s forwards;
}
.loading-screen-text-content .top-row span,
.loading-screen-text-content .bottom-row span {
  display: inline;
  animation: reset-translate 0.4s ease 0.24s forwards;
}
.loading-screen-text-content .top-row {
  translate: 0 -24px;
}
@media screen and (max-width: 768px) {
  .loading-screen-text-content .top-row {
    translate: 0 -16px;
  }
}
@media screen and (max-width: 480px) {
  .loading-screen-text-content .top-row {
    translate: 0 -12px;
  }
}
.loading-screen-text-content .top-row span {
  translate: 0 100%;
}
.loading-screen-text-content .bottom-row {
  translate: 0 24px;
}
@media screen and (max-width: 768px) {
  .loading-screen-text-content .bottom-row {
    translate: 0 16px;
  }
}
@media screen and (max-width: 480px) {
  .loading-screen-text-content .bottom-row {
    translate: 0 12px;
  }
}
.loading-screen-text-content .bottom-row span {
  translate: 0 -100%;
}
.loading-screen-text-content .divider-dot {
  opacity: 0;
  position: absolute;
  top: 50%;
  translate: 0 -60%;
  display: flex;
  animation: loading-dot 1.5s linear 0.2s forwards;
}
.loading-screen-abstract {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 0;
  background: #020202;
}
.loading-screen.load-complete {
  pointer-events: none;
}
.loading-screen.load-complete .loading-screen-text-content {
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease 0.3s;
}
.loading-screen.load-complete .loading-screen-abstract {
  animation: nav-abstract-open 0.75s ease 0s forwards;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.lg-screen-and-up {
  display: none;
}
@media screen and (min-width: 1025px) {
  .lg-screen-and-up {
    display: flex;
  }
}

.lg-screen-and-below {
  display: none;
}
@media screen and (max-width: 1024px) {
  .lg-screen-and-below {
    display: flex;
  }
}

.md-screen-and-up {
  display: none;
}
@media screen and (min-width: 769px) {
  .md-screen-and-up {
    display: flex;
  }
}

.md-screen-and-below {
  display: none;
}
@media screen and (max-width: 768px) {
  .md-screen-and-below {
    display: flex;
  }
}

.sm-screen-and-up {
  display: none;
}
@media screen and (min-width: 481px) {
  .sm-screen-and-up {
    display: flex;
  }
}

.sm-screen-and-below {
  display: none;
}
@media screen and (max-width: 480px) {
  .sm-screen-and-below {
    display: flex;
  }
}

@keyframes nav-abstract-open {
  0% {
    top: unset;
    bottom: 0;
    height: 0;
  }
  33% {
    top: unset;
    bottom: 0;
    height: 100vh;
  }
  66% {
    top: 0;
    bottom: unset;
    height: 100vh;
  }
  100% {
    top: 0;
    bottom: unset;
    height: 0;
  }
}
@keyframes nav-abstract-default {
  0% {
    top: 0;
    bottom: unset;
    height: 0;
  }
  33% {
    top: 0;
    bottom: unset;
    height: 100vh;
  }
  66% {
    top: unset;
    bottom: 0;
    height: 100vh;
  }
  100% {
    top: unset;
    bottom: 0;
    height: 0;
  }
}
@keyframes hero-img-1-fade {
  to {
    opacity: 1;
    translate: 20% 0;
  }
}
@keyframes hero-img-2-fade {
  to {
    opacity: 1;
    translate: -20% 0;
  }
}
@keyframes reset-translate {
  to {
    translate: 0 0;
  }
}
@keyframes collapse-width {
  to {
    width: 0;
  }
}
@keyframes loading-dot {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes platform-text-bar {
  0% {
    top: 0;
    bottom: unset;
    height: 0;
  }
  33% {
    top: 0;
    bottom: unset;
    height: 100%;
  }
  66% {
    top: unset;
    bottom: 0;
    height: 100%;
  }
  100% {
    top: unset;
    bottom: 0;
    height: 0;
  }
}
@keyframes cta-2-default {
  0% {
    left: unset;
    right: 0;
    width: 0;
  }
  33% {
    left: unset;
    right: 0;
    width: 100%;
  }
  66% {
    left: 0;
    right: unset;
    width: 100%;
  }
  100% {
    left: 0;
    right: unset;
    width: 0;
  }
}
@keyframes cta-2-hover {
  0% {
    left: 0;
    right: unset;
    width: 0;
  }
  33% {
    left: 0;
    right: unset;
    width: 100%;
  }
  66% {
    left: unset;
    right: 0;
    width: 100%;
  }
  100% {
    left: unset;
    right: 0;
    width: 0;
  }
}
@keyframes faq-item-default {
  0% {
    left: unset;
    right: 0;
    width: 100%;
  }
  100% {
    left: unset;
    right: 0;
    width: 0;
  }
}
@keyframes faq-item-hover {
  0% {
    left: 0;
    right: unset;
    width: 0;
  }
  100% {
    left: 0;
    right: unset;
    width: 100%;
  }
}
#hero-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  margin-top: 96px;
}
@media screen and (max-width: 1512px) {
  #hero-section {
    margin-top: 72px;
  }
}
@media screen and (max-width: 1024px) {
  #hero-section {
    flex-direction: column;
    align-items: center;
    gap: 96px;
  }
}
#hero-section .hero-headline {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
@media screen and (max-width: 1024px) {
  #hero-section .hero-headline {
    width: 100%;
  }
}
#hero-section .hero-headline > * {
  padding-left: 48px;
}
@media screen and (max-width: 1512px) {
  #hero-section .hero-headline > * {
    padding-left: 24px;
  }
}
@media screen and (max-width: 1024px) {
  #hero-section .hero-headline > * {
    padding-left: 48px;
  }
}
@media screen and (max-width: 768px) {
  #hero-section .hero-headline > * {
    padding-left: 24px;
  }
}
@media screen and (max-width: 480px) {
  #hero-section .hero-headline > * {
    padding-left: 16px;
  }
}
#hero-section .hero-headline h1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-left: 4px solid #6CA793;
  font-size: 104px;
  font-weight: 500;
  margin-bottom: 48px;
}
@media (max-width: 1664px) {
  #hero-section .hero-headline h1 {
    font-size: 86px;
  }
}
@media screen and (max-width: 1512px) {
  #hero-section .hero-headline h1 {
    font-size: 72px;
  }
}
@media screen and (max-width: 1200px) {
  #hero-section .hero-headline h1 {
    font-size: 64px;
  }
}
@media screen and (max-width: 1024px) {
  #hero-section .hero-headline h1 {
    font-size: 72px;
  }
}
@media screen and (max-width: 768px) {
  #hero-section .hero-headline h1 {
    font-size: 56px;
    border-width: 3px;
  }
}
@media screen and (max-width: 480px) {
  #hero-section .hero-headline h1 {
    font-size: 40px;
  }
}
#hero-section .hero-headline h1 span:last-of-type {
  align-self: flex-end;
}
#hero-section .hero-headline .companion-text {
  font-family: "Saira", sans-serif;
  font-size: 18px;
}
@media screen and (max-width: 1512px) {
  #hero-section .hero-headline .companion-text {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  #hero-section .hero-headline .companion-text {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  #hero-section .hero-headline .cta-wrapper {
    padding-left: 0;
  }
}
#hero-section .hero-img {
  width: 50%;
}
@media screen and (max-width: 1512px) {
  #hero-section .hero-img {
    width: 46%;
  }
}
@media screen and (max-width: 1024px) {
  #hero-section .hero-img {
    width: 80%;
  }
}
#hero-section .hero-img img {
  width: 48%;
  opacity: 0;
}
#hero-section .hero-img img:first-of-type {
  translate: 20% 6%;
}
#hero-section .hero-img img:last-of-type {
  translate: -20% -6%;
}
#hero-section .hero-background-text {
  position: absolute;
  top: 32%;
  left: 50%;
  translate: -50% 0;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  #hero-section .hero-background-text {
    top: 12%;
  }
}
@media screen and (max-width: 768px) {
  #hero-section .hero-background-text {
    display: none;
  }
}
#hero-section .hero-background-text p {
  font-family: "Saira", sans-serif;
  font-size: min(42vw, 800px);
  opacity: 0.025;
  line-height: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#hero-section.load-complete .hero-img img:first-of-type {
  animation: hero-img-1-fade 0.8s ease 0.6s forwards;
}
#hero-section.load-complete .hero-img img:last-of-type {
  animation: hero-img-2-fade 0.8s ease 0.6s forwards;
}

#video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000;
  max-width: unset;
  width: 100vw;
}
#video-section .video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 64px;
  margin-bottom: 112px;
  width: 480px;
  z-index: 1;
}
@media screen and (max-width: 1512px) {
  #video-section .video-wrapper {
    width: 360px;
  }
}
@media screen and (max-width: 768px) {
  #video-section .video-wrapper {
    width: 320px;
  }
}
@media screen and (max-width: 480px) {
  #video-section .video-wrapper {
    margin-bottom: 0;
  }
}
#video-section .video-wrapper video {
  width: 100%;
  cursor: pointer;
}
#video-section .video-wrapper video:hover + .video-toggle-btn, #video-section .video-wrapper video:focus-within + .video-toggle-btn {
  opacity: 1 !important;
  border: 2px solid #f8f8f8;
  scale: 1.12;
}
#video-section .video-wrapper video:hover + .video-toggle-btn .play-icon-wrapper,
#video-section .video-wrapper video:hover + .video-toggle-btn .pause-icon-wrapper, #video-section .video-wrapper video:focus-within + .video-toggle-btn .play-icon-wrapper,
#video-section .video-wrapper video:focus-within + .video-toggle-btn .pause-icon-wrapper {
  translate: 0 -40%;
}
@media screen and (max-width: 768px) {
  #video-section .video-wrapper video:hover + .video-toggle-btn .play-icon-wrapper,
  #video-section .video-wrapper video:hover + .video-toggle-btn .pause-icon-wrapper, #video-section .video-wrapper video:focus-within + .video-toggle-btn .play-icon-wrapper,
  #video-section .video-wrapper video:focus-within + .video-toggle-btn .pause-icon-wrapper {
    translate: 0 -42%;
  }
}
#video-section .video-wrapper video:hover + .video-toggle-btn .play-icon-wrapper svg,
#video-section .video-wrapper video:hover + .video-toggle-btn .pause-icon-wrapper svg, #video-section .video-wrapper video:focus-within + .video-toggle-btn .play-icon-wrapper svg,
#video-section .video-wrapper video:focus-within + .video-toggle-btn .pause-icon-wrapper svg {
  fill: #f8f8f8;
}
@media (hover: none) {
  #video-section .video-wrapper video + .video-toggle-btn {
    scale: 1.12;
    border: 2px solid #f8f8f8;
  }
  #video-section .video-wrapper video + .video-toggle-btn .play-icon-wrapper,
  #video-section .video-wrapper video + .video-toggle-btn .pause-icon-wrapper {
    translate: 0 -42%;
  }
  #video-section .video-wrapper video + .video-toggle-btn .play-icon-wrapper svg,
  #video-section .video-wrapper video + .video-toggle-btn .pause-icon-wrapper svg {
    fill: #f8f8f8;
  }
}
#video-section .video-wrapper .video-toggle-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #262626;
  width: 96px;
  height: 96px;
  border: 2px solid rgba(248, 248, 248, 0.5);
  border-radius: 50%;
  overflow: hidden;
  transition: 0.25s ease;
}
@media screen and (max-width: 1512px) {
  #video-section .video-wrapper .video-toggle-btn {
    width: 72px;
    height: 72px;
  }
}
@media screen and (max-width: 768px) {
  #video-section .video-wrapper .video-toggle-btn {
    width: 64px;
    height: 64px;
  }
}
#video-section .video-wrapper .video-toggle-btn:hover, #video-section .video-wrapper .video-toggle-btn:focus {
  border: 2px solid #f8f8f8;
  opacity: 1 !important;
  scale: 1.12;
}
#video-section .video-wrapper .video-toggle-btn:hover .play-icon-wrapper,
#video-section .video-wrapper .video-toggle-btn:hover .pause-icon-wrapper, #video-section .video-wrapper .video-toggle-btn:focus .play-icon-wrapper,
#video-section .video-wrapper .video-toggle-btn:focus .pause-icon-wrapper {
  translate: 0 -40%;
}
@media screen and (max-width: 768px) {
  #video-section .video-wrapper .video-toggle-btn:hover .play-icon-wrapper,
  #video-section .video-wrapper .video-toggle-btn:hover .pause-icon-wrapper, #video-section .video-wrapper .video-toggle-btn:focus .play-icon-wrapper,
  #video-section .video-wrapper .video-toggle-btn:focus .pause-icon-wrapper {
    translate: 0 -42%;
  }
}
#video-section .video-wrapper .video-toggle-btn:hover .play-icon-wrapper svg,
#video-section .video-wrapper .video-toggle-btn:hover .pause-icon-wrapper svg, #video-section .video-wrapper .video-toggle-btn:focus .play-icon-wrapper svg,
#video-section .video-wrapper .video-toggle-btn:focus .pause-icon-wrapper svg {
  fill: #f8f8f8;
}
#video-section .video-wrapper .video-toggle-btn .play-icon-wrapper,
#video-section .video-wrapper .video-toggle-btn .pause-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  translate: 0 40%;
  transition: 0.2s ease;
}
@media screen and (max-width: 768px) {
  #video-section .video-wrapper .video-toggle-btn .play-icon-wrapper,
  #video-section .video-wrapper .video-toggle-btn .pause-icon-wrapper {
    translate: 0 42%;
  }
}
#video-section .video-wrapper .video-toggle-btn .play-icon-wrapper svg,
#video-section .video-wrapper .video-toggle-btn .pause-icon-wrapper svg {
  width: 16px;
  fill: rgba(248, 248, 248, 0.5);
}
@media screen and (max-width: 768px) {
  #video-section .video-wrapper .video-toggle-btn .play-icon-wrapper svg,
  #video-section .video-wrapper .video-toggle-btn .pause-icon-wrapper svg {
    width: 12px;
  }
}
#video-section .video-wrapper .video-toggle-btn .pause-icon-wrapper {
  display: none;
}
#video-section .video-paragraph {
  width: min(85%, 1440px);
  text-align: justify;
  max-width: 1920px;
  font-family: "Saira", sans-serif;
  font-size: min(3.7vw, 68.9px);
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(#f8f8f8, #f8f8f8);
  -webkit-text-fill-color: rgba(248, 248, 248, 0.36);
  background-size: 0% 100%;
  transition: background 0.2s cubic-bezier(0.39, 0.92, 0.41, 1);
  z-index: 2;
}
@media screen and (max-width: 1512px) {
  #video-section .video-paragraph {
    font-size: 3.6vw;
  }
}
@media screen and (max-width: 1200px) {
  #video-section .video-paragraph {
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 1024px) {
  #video-section .video-paragraph {
    font-size: 3.6vw;
  }
}
@media screen and (max-width: 768px) {
  #video-section .video-paragraph {
    font-size: 3.64vw;
  }
}
@media screen and (max-width: 480px) {
  #video-section .video-paragraph {
    font-size: 15px;
    width: 96%;
  }
}

#platform-section {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 548px 196px 196px;
}
@media screen and (max-width: 1512px) {
  #platform-section {
    padding: 420px 96px 196px 148px;
  }
}
@media screen and (max-width: 1200px) {
  #platform-section {
    padding: 420px 0 196px 96px;
  }
}
@media screen and (max-width: 1024px) {
  #platform-section {
    padding: 320px 0 196px 64px;
  }
}
@media screen and (max-width: 768px) {
  #platform-section {
    padding: 148px 24px;
  }
}
@media screen and (max-width: 480px) {
  #platform-section {
    padding: 128px 24px;
  }
}
#platform-section .headline-wrapper {
  position: sticky;
  top: 50%;
  translate: 0 -50%;
  width: 50%;
  height: 364px;
}
@media screen and (max-width: 1512px) {
  #platform-section .headline-wrapper {
    height: 296px;
  }
}
@media screen and (max-width: 1200px) {
  #platform-section .headline-wrapper {
    height: 264px;
  }
}
@media screen and (max-width: 1024px) {
  #platform-section .headline-wrapper {
    height: 296px;
  }
}
@media screen and (max-width: 768px) {
  #platform-section .headline-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: static;
    translate: unset;
    width: 100%;
    height: unset;
  }
  #platform-section .headline-wrapper > * {
    order: 1;
  }
}
#platform-section .headline-wrapper .cta-wrapper {
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  #platform-section .headline-wrapper .cta-wrapper {
    position: static;
    order: 0;
    margin-bottom: 196px;
  }
}
@media screen and (max-width: 480px) {
  #platform-section .headline-wrapper .cta-wrapper {
    margin-bottom: 124px;
  }
}
#platform-section .headline-wrapper .headline-text {
  position: absolute;
  top: 0;
}
@media screen and (max-width: 768px) {
  #platform-section .headline-wrapper .headline-text {
    position: static;
  }
}
#platform-section .headline-wrapper .headline-text::before {
  content: "";
  background-color: #D6D6D6;
  position: absolute;
  top: 0;
  left: 0;
  translate: -100% 0;
  width: 4px;
  height: 0;
}
#platform-section .headline-wrapper .base-headline {
  transition: 0.3s ease 0.2s;
}
@media screen and (max-width: 768px) {
  #platform-section .headline-wrapper .base-headline {
    order: 0;
  }
}
#platform-section .headline-wrapper .base-headline .headline-title,
#platform-section .headline-wrapper .base-headline .headline-subtext {
  transition: 0.3s ease 0.2s;
}
#platform-section .headline-wrapper .device-text {
  height: 262px;
  pointer-events: none;
}
@media screen and (max-width: 1512px) {
  #platform-section .headline-wrapper .device-text {
    height: 213px;
  }
}
@media screen and (max-width: 1200px) {
  #platform-section .headline-wrapper .device-text {
    height: 196px;
  }
}
@media screen and (max-width: 1024px) {
  #platform-section .headline-wrapper .device-text {
    height: 216px;
  }
}
@media screen and (max-width: 768px) {
  #platform-section .headline-wrapper .device-text {
    height: auto;
    border: none;
  }
}
#platform-section .headline-wrapper .device-text .headline-title,
#platform-section .headline-wrapper .device-text .headline-subtext {
  opacity: 0;
  transition: 0.3s ease;
}
@media screen and (max-width: 768px) {
  #platform-section .headline-wrapper .device-text .headline-title,
  #platform-section .headline-wrapper .device-text .headline-subtext {
    opacity: 1 !important;
  }
}
#platform-section .headline-wrapper .device-text .headline-title {
  font-size: 80px;
  font-weight: 400;
  text-transform: uppercase;
}
@media screen and (max-width: 1512px) {
  #platform-section .headline-wrapper .device-text .headline-title {
    font-size: 56px;
  }
}
@media screen and (max-width: 1200px) {
  #platform-section .headline-wrapper .device-text .headline-title {
    font-size: 48px;
  }
}
@media screen and (max-width: 768px) {
  #platform-section .headline-wrapper .device-text .headline-title {
    font-size: 36px;
  }
}
@media screen and (max-width: 480px) {
  #platform-section .headline-wrapper .device-text .headline-title {
    font-size: 32px;
  }
}
#platform-section .headline-wrapper.device-1 .base-headline, #platform-section .headline-wrapper.device-2 .base-headline, #platform-section .headline-wrapper.device-3 .base-headline, #platform-section .headline-wrapper.device-4 .base-headline, #platform-section .headline-wrapper.device-5 .base-headline {
  pointer-events: none;
}
#platform-section .headline-wrapper.device-1 .base-headline .headline-title,
#platform-section .headline-wrapper.device-1 .base-headline .headline-subtext, #platform-section .headline-wrapper.device-2 .base-headline .headline-title,
#platform-section .headline-wrapper.device-2 .base-headline .headline-subtext, #platform-section .headline-wrapper.device-3 .base-headline .headline-title,
#platform-section .headline-wrapper.device-3 .base-headline .headline-subtext, #platform-section .headline-wrapper.device-4 .base-headline .headline-title,
#platform-section .headline-wrapper.device-4 .base-headline .headline-subtext, #platform-section .headline-wrapper.device-5 .base-headline .headline-title,
#platform-section .headline-wrapper.device-5 .base-headline .headline-subtext {
  opacity: 0;
  transition: 0.3s ease;
}
#platform-section .headline-wrapper.device-1 .headline-text {
  pointer-events: none;
}
#platform-section .headline-wrapper.device-1 .headline-text .headline-title,
#platform-section .headline-wrapper.device-1 .headline-text .headline-subtext {
  opacity: 0;
  transition: 0.3s ease 0s;
}
#platform-section .headline-wrapper.device-1 .device-text-1 {
  z-index: 1;
  opacity: 1;
  pointer-events: all;
  transition: 0.3s ease 0.2s;
}
#platform-section .headline-wrapper.device-1 .device-text-1::before {
  animation: platform-text-bar 0.6s ease 0.1s forwards;
}
#platform-section .headline-wrapper.device-1 .device-text-1 .headline-title,
#platform-section .headline-wrapper.device-1 .device-text-1 .headline-subtext {
  opacity: 1;
  transition: 0.3s ease 0.2s;
}
#platform-section .headline-wrapper.device-2 .device-text-1 {
  pointer-events: none;
}
#platform-section .headline-wrapper.device-2 .device-text-1 .headline-title,
#platform-section .headline-wrapper.device-2 .device-text-1 .headline-subtext {
  opacity: 0;
  transition: 0.3s ease 0s;
}
#platform-section .headline-wrapper.device-2 .device-text-2 {
  z-index: 1;
  opacity: 1;
  pointer-events: all;
  transition: 0.3s ease 0.2s;
}
#platform-section .headline-wrapper.device-2 .device-text-2::before {
  animation: platform-text-bar 0.6s ease 0.1s forwards;
}
#platform-section .headline-wrapper.device-2 .device-text-2 .headline-title,
#platform-section .headline-wrapper.device-2 .device-text-2 .headline-subtext {
  opacity: 1;
  transition: 0.3s ease 0.2s;
}
#platform-section .headline-wrapper.device-3 .device-text-2 {
  pointer-events: none;
}
#platform-section .headline-wrapper.device-3 .device-text-2 .headline-title,
#platform-section .headline-wrapper.device-3 .device-text-2 .headline-subtext {
  opacity: 0;
  transition: 0.3s ease 0s;
}
#platform-section .headline-wrapper.device-3 .device-text-3 {
  z-index: 1;
  opacity: 1;
  pointer-events: all;
  transition: 0.3s ease 0.2s;
}
#platform-section .headline-wrapper.device-3 .device-text-3::before {
  animation: platform-text-bar 0.6s ease 0.1s forwards;
}
#platform-section .headline-wrapper.device-3 .device-text-3 .headline-title,
#platform-section .headline-wrapper.device-3 .device-text-3 .headline-subtext {
  opacity: 1;
  transition: 0.3s ease 0.2s;
}
#platform-section .headline-wrapper.device-4 .device-text-3 {
  pointer-events: none;
}
#platform-section .headline-wrapper.device-4 .device-text-3 .headline-title,
#platform-section .headline-wrapper.device-4 .device-text-3 .headline-subtext {
  opacity: 0;
  transition: 0.3s ease 0s;
}
#platform-section .headline-wrapper.device-4 .device-text-4 {
  z-index: 1;
  opacity: 1;
  pointer-events: all;
  transition: 0.3s ease 0.2s;
}
#platform-section .headline-wrapper.device-4 .device-text-4::before {
  animation: platform-text-bar 0.6s ease 0.1s forwards;
}
#platform-section .headline-wrapper.device-4 .device-text-4 .headline-title,
#platform-section .headline-wrapper.device-4 .device-text-4 .headline-subtext {
  opacity: 1;
  transition: 0.3s ease 0.2s;
}
#platform-section .headline-wrapper.device-5 .device-text-4 {
  pointer-events: none;
}
#platform-section .headline-wrapper.device-5 .device-text-4 .headline-title,
#platform-section .headline-wrapper.device-5 .device-text-4 .headline-subtext {
  opacity: 0;
  transition: 0.3s ease 0s;
}
#platform-section .headline-wrapper.device-5 .device-text-5 {
  z-index: 1;
  opacity: 1;
  pointer-events: all;
  transition: 0.3s ease 0.2s;
}
#platform-section .headline-wrapper.device-5 .device-text-5::before {
  animation: platform-text-bar 0.6s ease 0.1s forwards;
}
#platform-section .headline-wrapper.device-5 .device-text-5 .headline-title,
#platform-section .headline-wrapper.device-5 .device-text-5 .headline-subtext {
  opacity: 1;
  pointer-events: all;
  transition: 0.3s ease 0.2s;
}
#platform-section .headline-wrapper .device-img-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  #platform-section .headline-wrapper .device-img-mobile {
    display: block;
    width: 50%;
    margin-bottom: 196px;
  }
}
@media screen and (max-width: 480px) {
  #platform-section .headline-wrapper .device-img-mobile {
    margin-bottom: 64px;
  }
}
#platform-section .platform-headline-img {
  position: sticky;
  top: 50%;
  translate: 0 -50%;
  width: 0;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  #platform-section .platform-headline-img {
    translate: 0 -64%;
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 768px) {
  #platform-section .platform-headline-img {
    display: none;
  }
}
#platform-section .platform-headline-img img {
  width: min(15vw, 288px);
  translate: 96% 0;
}
@media screen and (max-width: 1512px) {
  #platform-section .platform-headline-img img {
    translate: 108% 0;
  }
}
@media screen and (max-width: 1200px) {
  #platform-section .platform-headline-img img {
    translate: 120% 0;
  }
}
@media screen and (max-width: 1024px) {
  #platform-section .platform-headline-img img {
    translate: 132% 0;
  }
}
#platform-section .device-showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 360px;
  margin-left: 56px;
}
@media screen and (max-width: 1024px) {
  #platform-section .device-showcase {
    margin-left: 48px;
  }
}
@media screen and (max-width: 768px) {
  #platform-section .device-showcase {
    display: none;
  }
}
#platform-section .device-showcase img {
  width: 68%;
}
@media screen and (max-width: 1512px) {
  #platform-section .device-showcase img {
    margin: 64px 0;
  }
}
@media screen and (max-width: 1024px) {
  #platform-section .device-showcase img {
    width: 80%;
  }
}
@media screen and (max-width: 1512px) {
  #platform-section .device-showcase img:last-of-type {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1200px) {
  #platform-section .device-showcase img:last-of-type {
    margin-bottom: 64px;
  }
}

#faq-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 196px 196px 64px;
}
@media screen and (max-width: 1512px) {
  #faq-section {
    padding: 156px 148px 64px;
  }
}
@media screen and (max-width: 1200px) {
  #faq-section {
    padding: 156px 96px 64px;
  }
}
@media screen and (max-width: 768px) {
  #faq-section {
    align-items: flex-start;
    padding: 148px 24px 64px;
  }
}
#faq-section .headline-wrapper,
#faq-section .faq-list {
  width: 100%;
}
#faq-section .faq-list {
  display: flex;
  flex-direction: column;
  margin: 64px 124px;
}
@media screen and (max-width: 768px) {
  #faq-section .faq-list {
    width: 100%;
    margin: 48px 0 64px;
  }
}
#faq-section .faq-list .faq-item {
  border-bottom: 3px solid #6CA793;
  position: relative;
  padding-top: 56px;
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.3s ease, margin 0.4s ease;
}
@media screen and (max-width: 1512px) {
  #faq-section .faq-list .faq-item {
    padding-top: 42px;
  }
}
#faq-section .faq-list .faq-item:hover::before, #faq-section .faq-list .faq-item:focus-within::before {
  animation: faq-item-hover 0.3s ease-in-out forwards;
}
#faq-section .faq-list .faq-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  translate: 0 100%;
  width: 0;
  height: 3px;
  background: #020202;
  animation: faq-item-default 0.3s ease-in-out forwards;
}
#faq-section .faq-list .faq-item.active {
  grid-template-rows: 1fr;
}
#faq-section .faq-list .faq-item.active .question .angle-arrow {
  rotate: 135deg;
}
#faq-section .faq-list .faq-item.active .answer {
  opacity: 1;
  pointer-events: all;
  padding: 12px 0 16px;
  translate: 0 0;
  transition: 0.3s ease 0.12s;
}
@media screen and (max-width: 1512px) {
  #faq-section .faq-list .faq-item.active .answer {
    padding: 16px 0 8px;
  }
}
#faq-section .faq-list .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 30px 0;
  z-index: 1;
}
#faq-section .faq-list .question h3 {
  color: #020202;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: left;
  display: flex;
  gap: 12px;
  transition: 0.3s ease;
}
@media screen and (max-width: 1512px) {
  #faq-section .faq-list .question h3 {
    font-size: 16px;
    gap: 8px;
  }
}
@media screen and (max-width: 768px) {
  #faq-section .faq-list .question h3 {
    font-size: 13px;
    gap: 4px;
  }
}
#faq-section .faq-list .question h3 .question-indicator {
  width: 24px;
  margin: 0 56px;
}
@media screen and (max-width: 1512px) {
  #faq-section .faq-list .question h3 .question-indicator {
    margin: 0 24px;
  }
}
@media screen and (max-width: 1200px) {
  #faq-section .faq-list .question h3 .question-indicator {
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  #faq-section .faq-list .question h3 .question-indicator {
    width: 20px;
  }
}
#faq-section .faq-list .question .angle-arrow-wrapper {
  margin-right: 56px;
  transition: 0.4s ease;
}
@media screen and (max-width: 1512px) {
  #faq-section .faq-list .question .angle-arrow-wrapper {
    margin-right: 24px;
  }
}
@media screen and (max-width: 1200px) {
  #faq-section .faq-list .question .angle-arrow-wrapper {
    margin: 0;
  }
}
#faq-section .faq-list .question .angle-arrow-wrapper .angle-arrow {
  width: 16px;
  height: 16px;
  transition: 0.3s ease;
}
@media screen and (max-width: 1512px) {
  #faq-section .faq-list .question .angle-arrow-wrapper .angle-arrow {
    width: 12px;
    height: 12px;
  }
}
@media screen and (max-width: 768px) {
  #faq-section .faq-list .question .angle-arrow-wrapper .angle-arrow {
    width: 10px;
    height: 10px;
  }
}
#faq-section .faq-list .question .angle-arrow-wrapper .angle-arrow path {
  fill: #020202;
}
@media screen and (max-width: 480px) {
  #faq-section .faq-list .question .angle-arrow-wrapper .angle-arrow {
    width: 2rem;
  }
}
#faq-section .faq-list .answer {
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  translate: 0 0;
  padding: 12px 0;
  display: flex;
  font-size: 20px;
  line-height: 150%;
  transition: 0.2s ease 0s;
  cursor: pointer;
}
@media screen and (max-width: 1512px) {
  #faq-section .faq-list .answer {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  #faq-section .faq-list .answer {
    font-size: 14px;
  }
}
#faq-section .faq-list .answer .answer-indicator {
  padding-right: 150px;
}
@media screen and (max-width: 1512px) {
  #faq-section .faq-list .answer .answer-indicator {
    padding-right: 80px;
  }
}
@media screen and (max-width: 1200px) {
  #faq-section .faq-list .answer .answer-indicator {
    padding-right: 32px;
  }
}
@media screen and (max-width: 768px) {
  #faq-section .faq-list .answer .answer-indicator {
    padding-right: 24px;
  }
}
#faq-section .faq-list .answer p {
  width: 76%;
}
@media screen and (max-width: 1512px) {
  #faq-section .faq-list .answer p {
    width: 84%;
  }
}

#statement-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
#statement-section .statement-text {
  font-family: "Saira", sans-serif;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
}
@media screen and (max-width: 1512px) {
  #statement-section .statement-text {
    font-size: 32px;
  }
}
@media screen and (max-width: 768px) {
  #statement-section .statement-text {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  #statement-section .statement-text {
    font-size: 20px;
  }
}
#statement-section .statement-divider {
  width: 32%;
  height: 2px;
  background-color: #6CA793;
  border: none;
}
#statement-section .statement-img {
  width: 148px;
}
@media screen and (max-width: 1512px) {
  #statement-section .statement-img {
    width: 96px;
  }
}/*# sourceMappingURL=styles.css.map */