@import 'variables',
'mixins',
'globals',
'animations';

#hero-section {
  position: relative;
  @include row-between;
  align-items: flex-start;
  margin-top: 96px;

  @include mq-max('lg') {
    flex-direction: column;
    align-items: center;
    gap: 96px;
  }

  // & > * {
  //   border: $test;
  // }
  
  .hero-headline {
    width: 50%;
    @include column-left;
    gap: 24px;

    @include mq-max('lg') {
      width: 100%;
    }

    & > * {
      padding-left: 48px;
      
      @include mq-max('xxl') {
        padding-left: 24px
      }
      
      @include mq-max('lg') {
        padding-left: 48px;
      }

      @include mq-max('md') {
        padding-left: 24px;
      }

      @include mq-max('sm') {
        padding-left: 16px;
      }
    }

    h1 {
      @include column-left;
      border-left: 4px solid $green;
      font-size: 104px;
      font-weight: 500;
      margin-bottom: 48px;

      @media (max-width: 1664px) {
        font-size: 86px;
      }

      @include mq-max('xxl') {
        font-size: 72px;
      }

      @include mq-max('xl') {
        font-size: 64px;
      }
      
      @include mq-max('lg') {
        font-size: 86px;
      }

      @include mq-max('md') {
        font-size: 56px;
        border-width: 3px;
      }

      @include mq-max('sm') {
        font-size: 40px;
      }

      span:last-of-type {
        align-self: flex-end;
      }
    }

    .companion-text {
      font-family: $primary-font;
      font-size: 18px;

      @include mq-max('xxl') {
        font-size: 16px;
      }

      @include mq-max('md') {
        font-size: 14px;
      }
    }

    .cta-wrapper {

      @include mq-max('sm') {
        padding-left: 0;
      }
    }
  }

  .hero-img {
    width: 50%;

    @include mq-max('xxl') {
      width: 46%;
    }

    @include mq-max('lg') {
      width: 80%;
    }

    img {
      width: 48%;
      opacity: 0;

      &:first-of-type {
        translate: 20% 6%;
      }

      &:last-of-type {
        translate: -20% -6%;
      }
    }
  }

  .hero-background-text {
    position: absolute;
    top: 32%;
    left: 50%;
    translate: -50% 0;
    z-index: -1;

    @include mq-max('lg') {
      top: 12%;
    }

    @include mq-max('md') {
      display: none;
    }

    p {
      font-family: $primary-font;
      // font-size: min(45vw, 800px); // Revisit to determine max font-size
      font-size: min(42vw, 800px);
      opacity: 0.025;
      line-height: 0;
      user-select: none;
    }
  }

  &.load-complete {
    
    .hero-img {

      img {
  
        &:first-of-type {
          animation: hero-img-1-fade 0.8s ease 0.6s forwards;
        }
  
        &:last-of-type {
          animation: hero-img-2-fade 0.8s ease 0.6s forwards;
        }
      }
    }
  }
}

#video-section {
  @include column-center;
  background: #000;
  max-width: unset;
  width: 100vw;
  // padding-top: 480px;
  // padding-bottom: unset;
  // height: 250vh;

  .video-wrapper {
    @include row-center;
    position: sticky;
    top: $body-padding;
    margin-bottom: 96px; // Adjust space between video and paragraph
    height: 80vh;
    z-index: 1;

    video {
      height: 100%;
      cursor: pointer;

      &:hover,
      &:focus-within {

        & + .video-toggle-btn {
          background: rgba($white, 0.25);
          scale: 1.12;

          .play-icon-wrapper,
          .pause-icon-wrapper {
            translate: 0 -32%;

            svg {
              fill: rgba($white, 1);
            }
          }
        }
      }

      @include mq-touch {

        & + .video-toggle-btn {
          background: rgba($white, 0.25);
          scale: 1.12;

          .play-icon-wrapper,
          .pause-icon-wrapper {
            translate: 0 -32%;

            svg {
              fill: rgba($white, 1);
            }
          }
        }
      }
    }

    .video-toggle-btn {
      @include absolute-center;
      @include row-center;
      background: rgba($white, 0.1);
      width: 64px;
      height: 64px;
      border-radius: 50%;
      overflow: hidden;
      transition: 0.25s ease;

      &:hover,
      &:focus {
        background: rgba($white, 0.25);
        scale: 1.12;

        .play-icon-wrapper,
        .pause-icon-wrapper {
          translate: 0 -32%;

          svg {
            fill: rgba($white, 1);
          }
        }
      }
      
      .play-icon-wrapper,
      .pause-icon-wrapper {
        @include column-center;
        gap: 24px;
        translate: 0 32%;
        transition: 0.2s ease;

        svg {
          width: 32%;
          fill: rgba($white, 0.5);
        }
      }

      // .play-icon-wrapper {
      //   border: none;
      // }
      .pause-icon-wrapper {
        display: none;
      }
    }
  }

  .video-paragraph {
    // border: $test;
    // position: absolute;
    // bottom: 196px;
    // translate: 0 -100%; // Distorts the animation start
    max-width: $content-width;
    font-family: $primary-font;
    font-size: 78px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient($white, $white);
    -webkit-text-fill-color: rgba($white, 0.1);
    background-size: 0% 100%; // Set with JS

    transition: background 0.2s cubic-bezier(.39,.92,.41,1);
    z-index: 2;

    @include mq-max('xxl') {
      font-size: 56px;
    }

    @include mq-max('lg') {
      font-size: 40px;
    }

    @include mq-max('sm') {
      font-size: 16px; // Revisit when in the office
    }
  }
}

#platform-section {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 548px 196px $vertical-section-padding;
  
  @include mq-max('xxl') {
    padding: 420px 148px ;
  }

  @include mq-max('sm') {
    padding: 128px $body-padding-md;
  }

  .headline-wrapper {
    position: sticky;
    top: 50%;
    translate: 0 -50%;
  }

  .device-showcase {
    border: $test;
    @include column-center;
    width: 50%;

    img {
      width: 64%;
    }
  }
}