* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-moz-selection {
  background: rgba(108, 167, 147, 0.5);
}
*::selection {
  background: rgba(108, 167, 147, 0.5);
}

html {
  scroll-behavior: smooth;
}

body {
  background: #D6D6D6;
  color: #020202;
}

header,
section {
  max-width: 1920px;
  margin: auto;
}

header > * {
  z-index: 3;
}
header .header-logo {
  left: 64px;
  position: fixed;
  top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  mix-blend-mode: difference;
}
@media screen and (max-width: 1024px) {
  header .header-logo {
    left: 40px;
  }
}
@media screen and (max-width: 768px) {
  header .header-logo {
    left: 24px;
  }
}
@media screen and (min-width: 1921px) {
  header .header-logo {
    left: calc(50% - 960px + 64px);
  }
}
@media screen and (max-width: 768px) {
  header .header-logo {
    top: 38px;
  }
}
header .header-logo .logo-icon {
  width: 32px;
  transition: 0.2s ease;
}
@media screen and (max-width: 1512px) {
  header .header-logo .logo-icon {
    width: 24px;
  }
}
header .header-logo .logo-text {
  width: 52px;
  height: 20px;
  translate: 0 2px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  transition: 0.2s ease;
}
@media screen and (max-width: 1512px) {
  header .header-logo .logo-text {
    scale: 0.8;
    transform-origin: left;
  }
}
header .cta-wrapper {
  position: fixed;
  top: 44px;
  right: 64px;
  transition: 0.2s ease 0.12s, right 0s;
}
@media screen and (min-width: 1921px) {
  header .cta-wrapper {
    right: calc(50% - 960px + 64px);
  }
}
@media screen and (max-width: 1024px) {
  header .cta-wrapper {
    display: none;
  }
}
header .cta-wrapper .cta-2,
header .cta-wrapper .cta-1 {
  transition: 0.3s ease 0.75s, outline 0s;
}
header .menu-btn-wrapper {
  position: fixed;
  top: 64px;
  right: 64px;
  translate: 0 -50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  mix-blend-mode: difference;
}
@media screen and (min-width: 1921px) {
  header .menu-btn-wrapper {
    right: calc(50% - 960px + 64px);
  }
}
@media screen and (max-width: 1024px) {
  header .menu-btn-wrapper {
    right: 40px;
    opacity: 1;
    pointer-events: all;
  }
}
@media screen and (max-width: 768px) {
  header .menu-btn-wrapper {
    top: 48px;
    right: 24px;
  }
}
header .menu-btn-wrapper .menu-btn {
  width: 36px;
  height: 36px;
  transition: 0.2s ease 0s;
}
header .menu-btn-wrapper .menu-btn:hover, header .menu-btn-wrapper .menu-btn:focus {
  translate: 4px 0;
}
@media screen and (max-width: 480px) {
  header .menu-btn-wrapper .menu-btn:hover, header .menu-btn-wrapper .menu-btn:focus {
    translate: unset;
  }
}
header .menu-btn-wrapper .menu-btn:hover .menu-btn-text-wrapper, header .menu-btn-wrapper .menu-btn:focus .menu-btn-text-wrapper {
  translate: -120% -50%;
  opacity: 1;
}
@media screen and (max-width: 480px) {
  header .menu-btn-wrapper .menu-btn:hover .menu-btn-text-wrapper, header .menu-btn-wrapper .menu-btn:focus .menu-btn-text-wrapper {
    display: none;
  }
}
header .menu-btn-wrapper .menu-btn .menu-btn-dots-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 8px;
  transition: 0.2s ease;
}
header .menu-btn-wrapper .menu-btn .menu-btn-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 50%;
  left: 0;
  translate: -80% -50%;
  height: 24px;
  opacity: 0;
  transition: 0.3s ease;
  overflow: hidden;
}
header .menu-btn-wrapper .menu-btn .menu-btn-text {
  font-family: "Saira", sans-serif;
  text-transform: uppercase;
  color: #f8f8f8;
  font-size: 14px;
  transition: 0.2s ease;
}
header .menu-btn-wrapper .menu-btn-dot {
  width: 4px;
  height: 4px;
  background: #f8f8f8;
  transition: 0.3s ease;
}
header .menu-btn-wrapper .menu-btn.menu-active {
  opacity: 1;
  pointer-events: all;
}
header .menu-btn-wrapper .menu-btn.menu-active .menu-btn-text {
  translate: 0 -100%;
}
header .menu-btn-wrapper .menu-btn.menu-active .menu-btn-dots-wrapper {
  rotate: 45deg;
}
header .menu-btn-wrapper .menu-btn.menu-active .menu-btn-dot:nth-of-type(odd) {
  opacity: 0;
}
header .menu-btn-wrapper .menu-btn.menu-active .menu-btn-dot:nth-of-type(5) {
  opacity: 1;
}
header .menu-btn-wrapper.menu-wrapper-page-top {
  transition: opacity 0.3s ease 0.3s;
}
header.scroll-active .header-logo .logo-text {
  width: 0px;
}
header.scroll-active .cta-wrapper {
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease 0s;
}
header.scroll-active .menu-btn-wrapper {
  opacity: 1;
  pointer-events: all;
  transition: all 0.3s ease, opacity 0.2s ease 0.12s;
}
header.menu-active .header-logo .logo-text {
  width: 52px;
}
header.menu-active .menu-btn-wrapper {
  opacity: 1;
  pointer-events: all;
}
header.menu-active .cta-2,
header.menu-active .cta-1 {
  opacity: 0;
  pointer-events: none;
}

nav {
  position: fixed;
  top: 0;
  background: transparent;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  transition: background 0s ease 0.4s, opacity 0s ease 0.75s;
}
nav .width-constraint {
  position: relative;
  max-width: 1920px;
  height: 100vh;
  height: 100dvh;
  min-height: 768px;
  margin: auto;
}
@media screen and (max-width: 480px) {
  nav .width-constraint {
    min-height: 520px;
  }
}
nav .nav-links,
nav .nav-footer-links,
nav .nav-social-media {
  left: 64px;
  position: absolute;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0s ease 0.3s;
}
@media screen and (max-width: 1024px) {
  nav .nav-links,
  nav .nav-footer-links,
  nav .nav-social-media {
    left: 40px;
  }
}
@media screen and (max-width: 768px) {
  nav .nav-links,
  nav .nav-footer-links,
  nav .nav-social-media {
    left: 24px;
  }
}
nav .nav-links li a,
nav .nav-footer-links li a,
nav .nav-social-media li a {
  font-family: "Saira", sans-serif;
}
nav .nav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  top: 50%;
  translate: 0 -50%;
}
nav .nav-links li {
  display: flex;
  overflow: hidden;
}
nav .nav-links li:focus-within {
  border-radius: 4px;
  box-shadow: 0 0 0 3px rgba(35, 83, 193, 0.75), 0 0 0 5px rgba(255, 255, 255, 0.75);
}
nav .nav-links li:nth-of-type(2) .nav-link {
  transition: padding 0.2s ease, translate 0.25s ease 0.65s;
}
nav .nav-links li:nth-of-type(3) .nav-link {
  transition: padding 0.2s ease, translate 0.45s ease 0.7s;
}
nav .nav-links li:nth-of-type(4) .nav-link {
  transition: padding 0.2s ease, translate 0.65s ease 0.75s;
}
nav .nav-links .nav-link {
  font-size: 96px;
  text-transform: uppercase;
  line-height: 100%;
  height: 100%;
  translate: 0 100%;
  border-left: 4px solid transparent;
  transition: padding 0.2s ease, translate 0.3s ease 0.6s;
}
@media screen and (max-width: 1512px) {
  nav .nav-links .nav-link {
    font-size: 80px;
  }
}
@media screen and (max-width: 1024px) {
  nav .nav-links .nav-link {
    font-size: 64px;
  }
}
@media screen and (max-width: 768px) {
  nav .nav-links .nav-link {
    font-size: 48px;
  }
}
@media screen and (max-width: 768px) {
  nav .nav-links .nav-link {
    font-size: 40px;
  }
}
nav .nav-links .nav-link:hover, nav .nav-links .nav-link:focus {
  padding-left: 36px;
  border-color: #6CA793;
}
@media screen and (max-width: 1512px) {
  nav .nav-links .nav-link:hover, nav .nav-links .nav-link:focus {
    padding-left: 24px;
  }
}
nav .nav-footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 64px;
  gap: 48px;
}
@media screen and (max-width: 1024px) {
  nav .nav-footer-links {
    gap: 24px;
  }
}
@media screen and (max-width: 768px) {
  nav .nav-footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    bottom: 40px;
  }
}
@media screen and (max-width: 480px) {
  nav .nav-footer-links {
    gap: 4px;
    bottom: 24px;
  }
}
nav .nav-footer-links li .nav-footer-link {
  border-bottom: 2px solid transparent;
  transition: 0.2s ease;
}
nav .nav-footer-links li .nav-footer-link:hover, nav .nav-footer-links li .nav-footer-link:focus {
  border-color: #6CA793;
}
nav .nav-social-media {
  display: flex;
  gap: 48px;
  bottom: 64px;
  right: 64px;
  left: unset;
}
@media screen and (max-width: 1024px) {
  nav .nav-social-media {
    gap: 32px;
  }
}
@media screen and (max-width: 1024px) {
  nav .nav-social-media {
    right: 40px;
  }
}
@media screen and (max-width: 480px) {
  nav .nav-social-media {
    gap: 24px;
    bottom: 24px;
  }
}
nav .nav-social-media .social-media-link:hover .social-media-icon path, nav .nav-social-media .social-media-link:focus .social-media-icon path {
  fill: #6CA793;
}
nav .nav-social-media .social-media-link .social-media-icon path {
  transition: 0.2s ease;
}
nav .nav-abstract {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 24px;
  background: #020202;
  animation: nav-abstract-default 0.75s ease 0s forwards;
}
nav.menu-active {
  opacity: 1;
  pointer-events: all;
  background: #D6D6D6;
  transition: background 0s ease 0.4s;
}
nav.menu-active .nav-abstract {
  animation: nav-abstract-open 0.75s ease 0s forwards;
}
nav.menu-active .nav-links,
nav.menu-active .nav-footer-links,
nav.menu-active .nav-social-media {
  opacity: 1;
  pointer-events: all;
}
nav.menu-active .nav-links .nav-link,
nav.menu-active .nav-footer-links .nav-link,
nav.menu-active .nav-social-media .nav-link {
  translate: 0 0;
}

section {
  padding: 196px 64px;
}
@media screen and (max-width: 1512px) {
  section {
    padding: 156px 64px;
  }
}
@media screen and (max-width: 1024px) {
  section {
    padding: 124px 40px;
  }
}
@media screen and (max-width: 768px) {
  section {
    padding: 148px 24px;
  }
}
@media screen and (max-width: 480px) {
  section {
    padding: 96px 24px;
  }
}

h1,
h2,
h3 {
  font-family: "Saira", sans-serif;
  line-height: 100%;
  font-weight: 500;
}

p,
a {
  font-family: "Plus Jakarta Sans", sans-serif;
}

a {
  color: #020202;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.cta-wrapper {
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 1024px) {
  .cta-wrapper {
    gap: 12px;
  }
}
@media screen and (max-width: 480px) {
  .cta-wrapper {
    gap: 0px;
    width: 90vw;
  }
}
.cta-wrapper a {
  padding: 12px 16px;
}
@media screen and (max-width: 1512px) {
  .cta-wrapper a {
    padding: 10px 14px;
    font-size: 14px;
  }
}
.cta-wrapper .cta-1 {
  background: #6CA793;
  color: #f8f8f8;
  border-radius: 4px;
}
.cta-wrapper .cta-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta-wrapper .cta-2 svg {
  margin-left: 12px;
  transition: 0.3s ease;
}
.cta-wrapper .cta-2 svg path {
  fill: #6CA793;
}
.cta-wrapper .cta-2:hover svg, .cta-wrapper .cta-2:focus svg {
  translate: 4px 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.lg-screen-and-up {
  display: none;
}
@media screen and (min-width: 1025px) {
  .lg-screen-and-up {
    display: flex;
  }
}

.lg-screen-and-below {
  display: none;
}
@media screen and (max-width: 1024px) {
  .lg-screen-and-below {
    display: flex;
  }
}

.md-screen-and-up {
  display: none;
}
@media screen and (min-width: 769px) {
  .md-screen-and-up {
    display: flex;
  }
}

.md-screen-and-below {
  display: none;
}
@media screen and (max-width: 768px) {
  .md-screen-and-below {
    display: flex;
  }
}

.sm-screen-and-up {
  display: none;
}
@media screen and (min-width: 481px) {
  .sm-screen-and-up {
    display: flex;
  }
}

.sm-screen-and-below {
  display: none;
}
@media screen and (max-width: 480px) {
  .sm-screen-and-below {
    display: flex;
  }
}

@keyframes nav-abstract-open {
  0% {
    top: unset;
    bottom: 0;
    height: 0;
  }
  33% {
    top: unset;
    bottom: 0;
    height: 100vh;
  }
  66% {
    top: 0;
    bottom: unset;
    height: 100vh;
  }
  100% {
    top: 0;
    bottom: unset;
    height: 0;
  }
}
@keyframes nav-abstract-default {
  0% {
    top: 0;
    bottom: unset;
    height: 0;
  }
  33% {
    top: 0;
    bottom: unset;
    height: 100vh;
  }
  66% {
    top: unset;
    bottom: 0;
    height: 100vh;
  }
  100% {
    top: unset;
    bottom: 0;
    height: 0;
  }
}
@keyframes hero-img-1-fade {
  to {
    opacity: 1;
    translate: 20% 0;
  }
}
@keyframes hero-img-2-fade {
  to {
    opacity: 1;
    translate: -20% 0;
  }
}
#hero-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  margin-top: 96px;
}
@media screen and (max-width: 1024px) {
  #hero-section {
    flex-direction: column;
    align-items: center;
    gap: 96px;
  }
}
#hero-section .hero-headline {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
@media screen and (max-width: 1024px) {
  #hero-section .hero-headline {
    width: 100%;
  }
}
#hero-section .hero-headline > * {
  padding-left: 48px;
}
@media screen and (max-width: 1512px) {
  #hero-section .hero-headline > * {
    padding-left: 24px;
  }
}
@media screen and (max-width: 1024px) {
  #hero-section .hero-headline > * {
    padding-left: 48px;
  }
}
@media screen and (max-width: 768px) {
  #hero-section .hero-headline > * {
    padding-left: 24px;
  }
}
@media screen and (max-width: 480px) {
  #hero-section .hero-headline > * {
    padding-left: 16px;
  }
}
#hero-section .hero-headline h1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-left: 4px solid #6CA793;
  font-size: 104px;
  text-transform: uppercase;
  margin-bottom: 48px;
}
@media (max-width: 1664px) {
  #hero-section .hero-headline h1 {
    font-size: 86px;
  }
}
@media screen and (max-width: 1512px) {
  #hero-section .hero-headline h1 {
    font-size: 72px;
  }
}
@media screen and (max-width: 1200px) {
  #hero-section .hero-headline h1 {
    font-size: 64px;
  }
}
@media screen and (max-width: 1024px) {
  #hero-section .hero-headline h1 {
    font-size: 86px;
  }
}
@media screen and (max-width: 768px) {
  #hero-section .hero-headline h1 {
    font-size: 56px;
    border-width: 3px;
  }
}
@media screen and (max-width: 480px) {
  #hero-section .hero-headline h1 {
    font-size: 40px;
  }
}
#hero-section .hero-headline h1 span:last-of-type {
  align-self: flex-end;
}
#hero-section .hero-headline .companion-text {
  font-family: "Saira", sans-serif;
  font-size: 18px;
}
@media screen and (max-width: 1512px) {
  #hero-section .hero-headline .companion-text {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  #hero-section .hero-headline .companion-text {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  #hero-section .hero-headline .cta-wrapper {
    padding-left: 0;
  }
}
#hero-section .hero-image {
  width: 50%;
}
@media screen and (max-width: 1512px) {
  #hero-section .hero-image {
    width: 46%;
  }
}
@media screen and (max-width: 1024px) {
  #hero-section .hero-image {
    width: 80%;
  }
}
#hero-section .hero-image img {
  width: 48%;
  opacity: 0;
}
#hero-section .hero-image img:first-of-type {
  translate: 20% 6%;
  animation: hero-img-1-fade 0.8s ease 0.12s forwards;
}
#hero-section .hero-image img:last-of-type {
  translate: -20% -6%;
  animation: hero-img-2-fade 0.8s ease 0.12s forwards;
}
#hero-section .hero-background-text {
  position: absolute;
  top: 32%;
  left: 50%;
  translate: -50% 0;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  #hero-section .hero-background-text {
    top: 12%;
  }
}
@media screen and (max-width: 768px) {
  #hero-section .hero-background-text {
    display: none;
  }
}
#hero-section .hero-background-text p {
  font-family: "Saira", sans-serif;
  font-size: min(45vw, 800px);
  opacity: 0.025;
  line-height: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #262626;
  max-width: unset;
  width: 100vw;
  height: 200vh;
}
#video-section .video-section-paragraph {
  font-family: "Saira", sans-serif;
  font-size: 78px;
  font-weight: 700;
  line-height: 100%;
  color: #f8f8f8;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 1512px) {
  #video-section .video-section-paragraph {
    font-size: 56px;
  }
}
@media screen and (max-width: 1024px) {
  #video-section .video-section-paragraph {
    font-size: 40px;
  }
}/*# sourceMappingURL=styles.css.map */