@import 'variables',
'mixins',
'globals',
'animations';

#hero-section {
  position: relative;
  @include row-between;
  align-items: flex-start;
  margin-top: 96px;

  @include mq-max('lg') {
    flex-direction: column;
    align-items: center;
    gap: 96px;
  }

  // & > * {
  //   border: $test;
  // }
  
  .hero-headline {
    width: 50%;
    @include column-left;
    gap: 24px;

    @include mq-max('lg') {
      width: 100%;
    }

    & > * {
      padding-left: 48px;
      
      @include mq-max('xxl') {
        padding-left: 24px
      }
      
      @include mq-max('lg') {
        padding-left: 48px;
      }

      @include mq-max('md') {
        padding-left: 24px;
      }

      @include mq-max('sm') {
        padding-left: 16px;
      }
    }

    h1 {
      @include column-left;
      border-left: 4px solid $green;
      font-size: 104px;
      font-weight: 500;
      margin-bottom: 48px;

      @media (max-width: 1664px) {
        font-size: 86px;
      }

      @include mq-max('xxl') {
        font-size: 72px;
      }

      @include mq-max('xl') {
        font-size: 64px;
      }
      
      @include mq-max('lg') {
        font-size: 86px;
      }

      @include mq-max('md') {
        font-size: 56px;
        border-width: 3px;
      }

      @include mq-max('sm') {
        font-size: 40px;
      }

      span:last-of-type {
        align-self: flex-end;
      }
    }

    .companion-text {
      font-family: $primary-font;
      font-size: 18px;

      @include mq-max('xxl') {
        font-size: 16px;
      }

      @include mq-max('md') {
        font-size: 14px;
      }
    }

    .cta-wrapper {

      @include mq-max('sm') {
        padding-left: 0;
      }
    }
  }

  .hero-img {
    width: 50%;

    @include mq-max('xxl') {
      width: 46%;
    }

    @include mq-max('lg') {
      width: 80%;
    }

    img {
      width: 48%;
      opacity: 0;

      &:first-of-type {
        translate: 20% 6%;
      }

      &:last-of-type {
        translate: -20% -6%;
      }
    }
  }

  .hero-background-text {
    position: absolute;
    top: 32%;
    left: 50%;
    translate: -50% 0;
    z-index: -1;

    @include mq-max('lg') {
      top: 12%;
    }

    @include mq-max('md') {
      display: none;
    }

    p {
      font-family: $primary-font;
      // font-size: min(45vw, 800px); // Revisit to determine max font-size
      font-size: min(42vw, 800px);
      opacity: 0.025;
      line-height: 0;
      user-select: none;
    }
  }

  &.load-complete {
    
    .hero-img {

      img {
  
        &:first-of-type {
          animation: hero-img-1-fade 0.8s ease 0.6s forwards;
        }
  
        &:last-of-type {
          animation: hero-img-2-fade 0.8s ease 0.6s forwards;
        }
      }
    }
  }
}

#video-section {
  @include column-center;
  background: #000;
  max-width: unset;
  width: 100vw;
  // padding-top: 480px;
  // padding-bottom: unset;
  // height: 250vh;

  .video-wrapper {
    @include row-center;
    position: sticky;
    top: $body-padding;
    margin-bottom: 112px; // Adjust space between video and paragraph
    height: 80vh;
    z-index: 1;

    video {
      height: 100%;
      cursor: pointer;

      &:hover,
      &:focus-within {

        & + .video-toggle-btn {
          opacity: 1 !important;
          border: 2px solid rgba($white, 1);
          scale: 1.12;

          .play-icon-wrapper,
          .pause-icon-wrapper {
            translate: 0 -32%;

            svg {
              fill: rgba($white, 1);
            }
          }
        }
      }

      @include mq-touch {

        & + .video-toggle-btn {
          scale: 1.12;
          border: 2px solid rgba($white, 1);

          .play-icon-wrapper,
          .pause-icon-wrapper {
            translate: 0 -32%;

            svg {
              fill: rgba($white, 1);
            }
          }
        }
      }
    }

    .video-toggle-btn {
      @include absolute-center;
      @include row-center;
      background: $dark-grey;
      width: 64px;
      height: 64px;
      border: 2px solid rgba($white, 0.5);
      border-radius: 50%;
      overflow: hidden;
      transition: 0.25s ease;

      &:hover,
      &:focus {
        border: 2px solid rgba($white, 1);
        opacity: 1 !important;
        scale: 1.12;

        .play-icon-wrapper,
        .pause-icon-wrapper {
          translate: 0 -32%;

          svg {
            fill: rgba($white, 1);
          }
        }
      }
      
      .play-icon-wrapper,
      .pause-icon-wrapper {
        @include column-center;
        gap: 24px;
        translate: 0 32%;
        transition: 0.2s ease;

        svg {
          width: 32%;
          fill: rgba($white, 0.5);
        }
      }

      // .play-icon-wrapper {
      //   border: none;
      // }
      .pause-icon-wrapper {
        display: none;
      }
    }
  }

  .video-paragraph {
    // border: $test;
    // position: absolute;
    // bottom: 196px;
    // translate: 0 -100%; // Distorts the animation start
    max-width: $content-width;
    font-family: $primary-font;
    font-size: 78px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient($white, $white);
    -webkit-text-fill-color: rgba($white, 0.36);
    background-size: 0% 100%; // Set with JS

    transition: background 0.2s cubic-bezier(.39,.92,.41,1);
    z-index: 2;

    @include mq-max('xxl') {
      font-size: 56px;
    }

    @include mq-max('lg') {
      font-size: 40px;
    }

    @include mq-max('sm') {
      font-size: 16px; // Revisit when in the office
    }
  }
}

#platform-section {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 548px 196px $vertical-section-padding;
  
  @include mq-max('xxl') {
    padding: 420px 96px $vertical-section-padding 148px;
  }

  @include mq-max('xl') {
    padding: 420px 0 $vertical-section-padding 96px;
  }

  @include mq-max('lg') {
    padding: 320px 0 $vertical-section-padding $body-padding;
  }

  @include mq-max('sm') {
    padding: 128px $body-padding-md;
  }

  .headline-wrapper {
    // border: $test;
    position: sticky;
    top: 50%;
    translate: 0 -50%;
    width: 50%;
    height: 364px;

    @include mq-max('xxl') {
      height: 296px;
    }

    @include mq-max('xl') {
      height: 264px;
    }

    @include mq-max('md') {
      @include column-left;
      // position: static;
      position: absolute;
      top: $vertical-section-padding-md;
      left: 50%;
      translate: -50% 0;
      // width: 658px;
      width: 80%;
      // height: unset;
    }

    .cta-wrapper {
      position: absolute;
      bottom: 0;
    }

    .headline-text {
      position: absolute;
      top: 0;

      @include mq-max('md') {
        position: static;
      }

      &::before {
        content: "";
        background-color: $light-grey;
        position: absolute;
        top: 0;
        left: 0;
        translate: -100% 0;
        width: 4px;
        height: 0;
      }
    }

    .base-headline {
      transition: 0.3s ease 0.2s;

      @include mq-max('md') {
        margin-bottom: 248px;
      }

      .headline-title,
      .headline-subtext {
        transition: 0.3s ease 0.2s;
      }
    }

    .device-text {
      height: 262px;
      pointer-events: none;

      @include mq-max('xxl') {
        height: 213px;
      }

      @include mq-max('xl') {
        height: 196px;
      }

      @include mq-max('md') {
        margin-bottom: 720px;
      }

      .headline-title,
      .headline-subtext {
        opacity: 0;
        transition: 0.3s ease;

        @include mq-max('md') {
          opacity: 1 !important;
        }
      }

      .headline-title {
        font-size: 80px;
        font-weight: 400;
        text-transform: uppercase;
        
        @include mq-max('xxl') {
          font-size: 56px;
        }

        @include mq-max('xl') {
          font-size: 48px;
        }
      }

      .headline-subtext {

        @include mq-max('xxl') {
          font-size: 16px;
        }

        @include mq-max('xl') {
          font-size: 14px;
        }
      }
    }

    &.device-1,
    &.device-2,
    &.device-3,
    &.device-4,
    &.device-5 {

      .base-headline {
        // opacity: 0;
        pointer-events: none;
        // transition: 0.3s ease 0s;

        .headline-title,
        .headline-subtext {
          opacity: 0;
          // pointer-events: none;
          transition: 0.3s ease;
        }
      }
    }

    &.device-1 {

      .headline-text {
        pointer-events: none;

        .headline-title,
        .headline-subtext {
          opacity: 0;
          transition: 0.3s ease 0s;
        }
      }
      
      .device-text-1 {
        z-index: 1;
        opacity: 1;
        pointer-events: all;
        transition: 0.3s ease 0.2s;

        &::before {
          animation: platform-text-bar 0.6s ease 0.1s forwards;
        }

        .headline-title,
        .headline-subtext {
          opacity: 1;
          transition: 0.3s ease 0.2s;
        }
      }
    }

    &.device-2 {

      .device-text-1 {
        pointer-events: none;

        .headline-title,
        .headline-subtext {
          opacity: 0;
          transition: 0.3s ease 0s;
        }
      }
      
      .device-text-2 {
        z-index: 1;
        opacity: 1;
        pointer-events: all;
        transition: 0.3s ease 0.2s;

        &::before {
          animation: platform-text-bar 0.6s ease 0.1s forwards;
        }

        .headline-title,
        .headline-subtext {
          opacity: 1;
          transition: 0.3s ease 0.2s;
        }
      }
    }

    &.device-3 {

      .device-text-2 {
        pointer-events: none;

        .headline-title,
        .headline-subtext {
          opacity: 0;
          transition: 0.3s ease 0s;
        }
      }
      
      .device-text-3 {
        z-index: 1;
        opacity: 1;
        pointer-events: all;
        transition: 0.3s ease 0.2s;

        &::before {
          animation: platform-text-bar 0.6s ease 0.1s forwards;
        }

        .headline-title,
        .headline-subtext {
          opacity: 1;
          transition: 0.3s ease 0.2s;
        }
      }
    }

    &.device-4 {

      .device-text-3 {
        pointer-events: none;

        .headline-title,
        .headline-subtext {
          opacity: 0;
          transition: 0.3s ease 0s;
        }
      }
      
      .device-text-4 {
        z-index: 1;
        opacity: 1;
        pointer-events: all;
        transition: 0.3s ease 0.2s;

        &::before {
          animation: platform-text-bar 0.6s ease 0.1s forwards;
        }

        .headline-title,
        .headline-subtext {
          opacity: 1;
          transition: 0.3s ease 0.2s;
        }
      }
    }

    &.device-5 {

      .device-text-4 {
        pointer-events: none;
        
        .headline-title,
        .headline-subtext {
          opacity: 0;
          transition: 0.3s ease 0s;
        }
      }
      
      .device-text-5 {
        z-index: 1;
        opacity: 1;
        pointer-events: all;
        transition: 0.3s ease 0.2s;

        &::before {
          animation: platform-text-bar 0.6s ease 0.1s forwards;
        }

        .headline-title,
        .headline-subtext {
          opacity: 1;
          pointer-events: all;
          transition: 0.3s ease 0.2s;
        }
      }
    }
  }

  .platform-headline-img {
    position: sticky;
    top: 50%;
    translate: 0 -50%;
    width: 0;
    z-index: -1;

    @include mq-max('md') {
      display: none;
    }

    img {
      width: min(15vw, 288px);
      translate: 96% 0;
      
      @include mq-max('xxl') {
        translate: 108% 0;
      }

      @include mq-max('xl') {
        translate: 120% 0;
      }

      @include mq-max('lg') {
        translate: 132% 0;
      }
    }
  }

  .device-showcase {
    // border: $test;
    @include column-center;
    width: 50%;
    margin-top: 360px;
    margin-left: 56px;
    
    @include mq-max('lg') {
      // margin-left: 196px;
      margin-left: 48px;
    }

    @include mq-max('md') {
      margin-left: unset;
      width: 420px;
    }

    img {
      width: 68%;

      @include mq-max('xxl') {
        margin: 64px 0;
      }

      @include mq-max('lg') {
        width: 80%;
      }

      @include mq-max('md') {
        margin: 80px 0;
        width: 100%;
      }
    }
  }
}

#faq-section {
  @include column-center;

  .headline-wrapper,
  .faq-list {
    width: 58%;
  }

  .faq-list {
    display: flex;
    flex-direction: column;
    margin: 48px 0 124px;
    
    @include mq-max('xl') {
      width: 80%;
    }

    @include mq-max('md') {
      width: 100%;
      margin: 48px 0 64px;
    }
    
    .faq-item {
      position: relative;
      border-bottom: 2px solid $dark-grey;
      margin-bottom: 24px;
      padding-top: 42px;
      display: grid;
      grid-template-rows: 0fr;
      transition: all 0.3s ease, margin 0.4s ease;

      &:hover {
        border-color: $green;
      }
      
      @include mq-max('xxl') {
        margin-bottom: 12px;
        padding-top: 24px;
      }

      &.active {
        grid-template-rows: 1fr;

        .question {

          .angle-arrow {
            rotate: 180deg;
          }
        }

        .answer {
          opacity: 1;
          pointer-events: all;
          padding: 32px 0 16px;
          translate: 0 0;
          transition: 0.3s ease 0.12s;
          
          @include mq-max('xxl') {
            padding: 16px 0 8px;
          }
        }
      }
    }

    .question {
      @include row-between;
      position: absolute;
      top: 0;
      width: 100%;
      padding: 16px 0;
      z-index: 1;
      
      @include mq-max('xxl') {
        padding: 4px 0;
      }

      h3 {
        color: $black;
        font-size: 20px;
        font-weight: 500;
        text-transform: capitalize;
        text-align: left;
        display: flex;
        gap: 12px;
        transition: 0.3s ease;

        @include mq-max('xxl') {
          font-size: 16px;
          gap: 8px;
        }

        @include mq-max('md') {
          font-size: 14px;
          gap: 4px;
        }
        
        &-indicator {
          width: 24px;
        }
      }
      
      .angle-arrow-wrapper {
        transition: 0.4s ease;

        .angle-arrow {
          width: 36px;
          height: 36px;
          transition: 0.3s ease;
          
          @include mq-max('xxl') {
            width: 24px;
            height: 24px;
          }

          path {
            fill: $green;
          }

          &.active {
            rotate: 180deg;
          }

          @include mq-max('sm') {
            width: 2rem;
          }
        }    
      }
    }

    .answer {
      overflow: hidden;
      opacity: 0;
      pointer-events: none;
      translate: 0 -24px;
      padding: 12px 0;
      display: flex;
      font-size: 20px;
      line-height: 150%;
      transition: 0.2s ease 0s;
      cursor: pointer;

      @include mq-max('xxl') {
        font-size: 16px;
      }

      @include mq-max('md') {
        font-size: 14px;
      }

      .answer-indicator {
        font-family: $primary-font;
        font-weight: 500;
        padding-right: 12px;
        
        @include mq-max('xxl') {
          padding-right: 10px;
        }

        @include mq-max('md') {
          padding-right: 6px;
        }
      }

      .faq-inner-link {
        text-decoration: underline;

        svg {

          path {
            fill: $white;
          }
        }
      }
    }
  }  
}